{% extends "base.html" %}

{% load staticfiles %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static "tienda/css/bootstrap.min.css" %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Great+Vibes|Pathway+Gothic+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "tienda/css/owl.carousel.css" %}" />
<link rel="stylesheet" href="{% static "tienda/css/icono.css" %}" />
<!--<link rel="stylesheet" href="{% static "tienda/css/estilos.css" %}" />-->
<link rel="stylesheet" href="{% static "tienda/css/main.css" %}" />
{% endblock %}

{% block layout %}
<aside id="mobile-nav" class="mobile-nav">
	<nav class="secundary-nav">
		<ul>
			<li>
				<a href="/carro/" class="link">
					<span class="icono glyphicon glyphicon-shopping-cart"></span>
					<span class="mobile-cart-total">42</span>
					<span class="etiqueta">Carro</span>					
				</a>
			</li>		
			<li>
				<a href="/cliente/cuenta/" class="link">
					<span class="icono glyphicon glyphicon-user"></span>					
					<span class="etiqueta">Cuenta</span>					
				</a>
			</li>
			<li>
				<a href="" class="link">
					<span class="icono glyphicon glyphicon-question-sign"></span>					
					<span class="etiqueta">Ayuda</span>					
				</a>
			</li>
		</ul>
	</nav>
	<nav class="primary-nav">
		<ul class="menu menu-principal-mobil">			
			<li><a class="link" href="/catalogo/mujer/">Mujer</a></li>
			<li><a class="link" href="/catalogo/hombre/">Hombre</a></li>
			<li><a class="link" href="/catalogo/ninos/">Niños</a></li>
			<li><a class="link" href="/catalogo/ninas/">Niñas</a></li>
			<li><a class="link" href="/">Ofertas</a></li>
			<li><a class="link" href="/">Novedades</a></li>
		</ul>
	</nav>
</aside>
<header id="header">
	<div class="bloque_top contraste1">
		<p class="text-center imprenta">Envios gratis para compras mayores de S/. 60.00</p>
	</div>
	<nav class="bloque_menu_top">
		<ul class="menu menu-linea">
			<li><span class="glyphicon glyphicon-earphone"></span> 556-3367</li>
			<li><span class="glyphicon glyphicon-comment"></span> Soporte en Vivo</li>
			<li><span class="glyphicon glyphicon-exclamation-sign"></span> Ayuda</li>
		</ul>
		<ul class='menu menu-linea'>
			<li><span class="glyphicon glyphicon-search"></span>Buscar</li>
			<li><span class="glyphicon glyphicon-user"></span>Ingresar</li>
		</ul>
	</nav>
	<nav class="main_menu">
		<div class="logo">
			<figure class="img_log">
				<img src="https://s3-us-west-2.amazonaws.com/lovizfront/img/logomin_0.png" alt="">
			</figure>
			<h1>Loviz <span>DelCarpio</span></h1>
		</div>
		<div class="icono-mobil boton-menu mostrar">
			<button type="button" class="btn btn-default" aria-label="Left Align">
			  <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>Menu
			</button>
		</div>
		<ul class="menu menu-principal">
			<li><a class="link" href="/catalogo/mujer/">Mujer</a></li>
			<li><a class="link" href="/catalogo/hombre/">Hombre</a></li>
			<li><a class="link" href="/catalogo/ninos/">Niños</a></li>
			<li><a class="link" href="/catalogo/ninas/">Niñas</a></li>
			<li><a class="link" href="/">Ofertas</a></li>
			<li><a class="link" href="/">Novedades</a></li>
		</ul>
		<div id="mini_carro" class="mini-cart">
			<span class="glyphicon glyphicon-shopping-cart"></span>
			<span class="imprenta">Carro</span>
			<span class="items">0</span>
		</div>
	</nav>
</header>
<div id="warp">
	<div class="overlay-mobil"></div>
	<div id="main">	
	</div>
	<footer>
		<div class="contenedor">
			<div id="bloques_footer" class="container-fluid">
				<div class="footer_menu_bottom row">
					<div class="block_footer col-lg-3">
						<h4 class="menu_titulo">
							Necesita Ayuda?
							<span class="icono icono-menu icon-arrow-down"></span>
						</h4>
						<ul class="menu hidden">
							<li><a class="link" href="/">Quienes somos</a></li>
							<li><a class="link" href="/">Como Comprar</a></li>
							<li><a class="link" href="/">Preguntas Frecuentes</a></li>
							<li><a class="link" href="/">Medios de Pago</a></li>
							<li><a class="link" href="/">Sobre el envio</a></li>
							<li><a class="link" href="/">Seguimiento de envio</a></li>
							<li><a class="link" href="/">Chat en Linea</a></li>
							<li><a class="link" href="/">Cambio y devoluciones</a></li>
							<li><a class="link" href="/">Contacto</a></li>
						</ul>
					</div>
					<div class="block_footer col-lg-3">
						<h4 class="menu_titulo">
							Comprar en
							<span class="icono icono-menu icon-arrow-down"></span>
						</h4>
						<ul class="menu hidden">
							<li><a class="link" href="/catalogo/mujer/">Mujer</a></li>
							<li><a class="link" href="/">Hombre</a></li>
							<li><a class="link" href="/">Kids</a></li>
							<li><a class="link" href="/">Lo mas Vendido</a></li>
							<li><a class="link" href="/">Mayor puntaje</a></li>
							<li><a class="link" href="/">En Oferta</a></li>
						</ul>
					</div>
					<div class="block_footer col-lg-3">
						<h4 class="menu_titulo">
							Informacion Producto
							<span class="icono icono-menu icon-arrow-down"></span>
						</h4>
						<ul class="menu hidden">
							<li><a class="link" href="/">Convercion de medidas</a></li>
							<li><a class="link" href="/">Modelos</a></li>
							<li><a class="link" href="/">Materiales Usados</a></li>
							<li><a class="link" href="/">Testimonio de Compradores</a></li>
						</ul>
					</div>
					<div class="block_footer col-lg-3">
						<h4 class="menu_titulo">
							Informacion del Sitio
							<span class="icono icono-menu icon-arrow-down"></span>
						</h4>
						<ul class="menu hidden">
							<li><a class="link" href="/">Politicas de Privacidad</a></li>
							<li><a class="link" href="/">Site Map</a></li>
							<li><a class="link" href="/">Terminos de Uso</a></li>
							<li><a class="link" href="/">Libro de reclamaciones</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="redes_sociales_footer">
				<a href=""><span class="icon-facebook2"></span></a>
		        <a href=""><span class="icon-instagram2"></span></a>
		        <a href=""><span class="icon-pinterest2"></span></a>
		        <a href=""><span class="icon-twitter2"></span></a>
		        <a href=""><span class="icon-play"></span></a>
		        <a href=""><span class="icon-google-plus"></span></a>
			</div>
			<div id="footer_bootom" class="overflow">
				<div class="left">
		            <span class="letra1">© 2014 LOVIZ DELCARPIO - TODOS LOS DERECHOS RESERVADOS</span>                        
		        </div>
		        <div class="right no-mobil">
		            <ul class="menu">
		                <li><a href="#">Contacto</a></li>
		                <li><a href="#">Ayuda</a></li>
		            </ul>
		        </div>
			</div>	
		</div>
	</footer>
</div>
<div id="linea_addcart" class="modal face" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

{% endblock %}

{% block templatesjs %}
  {% include 'tiendajs/carro_tlp_js.html' %}
  {% include 'tiendajs/catalogo_tlp_js.html' %}
  {% include 'tiendajs/tienda_tlp_js.html' %}
  {% include 'tiendajs/productosingle_tlp_js.html' %}
  {% include 'tiendajs/pagar_tlp_js.html' %}
  {% include 'tiendajs/usuario_tlp_js.html' %}

{%endblock%}

{% block backbonescript %}
	<script src="{% static "tienda/js/vendor/owl.carousel.min.js" %}"></script>	
	<script src="{% static "tienda/js/vendor/jquery.zoom.js" %}"></script>	
	<script src="{% static "tienda/js/vendor/jquery.cookie.js" %}"></script>	
	<script src="{% static "tienda/js/vendor/jquery.storageapi.min.js" %}"></script>	

	<script src="{% static "tienda/js/init.js" %}"></script>
	
	<!--Modelos-->		
	<script src="{% static "tienda/js/backbone/models/cliente/favorito.js" %}"></script>

	<script src="{% static "tienda/js/backbone/models/categoria.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/estado_pedido.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/filtro.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/comentario.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/direccion.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/pagar.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/sliderhome.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/producto.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/producto_single.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/pedido.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/linea.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/carro.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/ubigeo.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/usuario.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/envio.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/color.js" %}"></script>
	
	<!--Collectiones-->	
	<script src="{% static "tienda/js/backbone/collections/cliente/favoritos.js" %}"></script>

	<script src="{% static "tienda/js/backbone/collections/categorias.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/filtros.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/estados_pedidos.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/comentarios.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/direcciones.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/sliderhomes.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/productos.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/productos_single.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/lineas.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/ubigeos.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/pedidos.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/envios.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/colores.js" %}"></script>
	
	<!--Vistas-->
	<script src="{% static "tienda/js/backbone/views/carro/carro.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/carro/carro_total.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/carro/lineas_carro.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/carro/mini_carro.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/carro/linea_add_cart.js" %}"></script>	

	<script src="{% static "tienda/js/backbone/views/catalogo/catalogo.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/catalogo/categorias.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/catalogo/categoria_link.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/catalogo/filtro_color.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/catalogo/producto.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/catalogo/num_items_busqueda.js" %}"></script>
	
	<script src="{% static "tienda/js/backbone/views/pagar/pagar.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/pagar/paso_login.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/pagar/paso_envio.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/pagar/metodo_envio.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/pagar/paso_pagar.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/pagar/pagar_resumen.js" %}"></script>

	<script src="{% static "tienda/js/backbone/views/producto_single/comentarios.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/producto_single/estrellas.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/producto_single/galeria.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/producto_single/galeria_movil.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/producto_single/favorito_icono.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/producto_single/producto_single.js" %}"></script>	
	
	<script src="{% static "tienda/js/backbone/views/usuario/direccion.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/usuario/mini_usuario.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/usuario/form_login.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/usuario/form_nuevo_user.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/usuario/form_direccion.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/usuario/usuario.js" %}"></script>	

	<script src="{% static "tienda/js/backbone/views/tienda/breadcrumb.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/tienda/navegador.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/tienda/sliderhome.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/tienda/sliderhomes.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/tienda/ajax_loader.js" %}"></script>

	<script src="{% static "tienda/js/backbone/views/tienda/tienda.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/tienda/home.js" %}"></script>

	<script src="{% static "tienda/js/backbone/routers/base.js" %}"></script>		

	<script src="{% static "tienda/js/main.js" %}"></script>	
{% endblock%}


