{% extends "base.html" %}
{% load static from staticfiles %}

{% block extrastyles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static "oficina/css/desboard.css" %}">	   

{% endblock %}

{% block layout %}
	<header>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Loviz DelCarpio Oficina</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="">Cuenta</a></li>
						<li><a href="">Configuracion</a></li>
						<li><a href="">Salir</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<div id="main-oficina" class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="/oficina/" class="link">Resumen</a></li>
					<li><a href="/oficina/catalogo/" class="link">Catalogo</a></li>			
				</ul>
				<ul class="nav nav-sidebar"></ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				
			</div>
		</div>
	</div>
{% endblock %}

{% block templatesjs %}
  {% include 'oficinajs/pagina_tlp_js.html' %}
  {% include 'oficinajs/catalogo_tlp_js.html' %}
{%endblock%}

{% block backbonescript %}
	<script src="{% static "tienda/js/vendor/owl.carousel.min.js" %}"></script>	
	<script src="{% static "tienda/js/vendor/jquery.zoom.js" %}"></script>	
	<script src="{% static "tienda/js/vendor/jquery.cookie.js" %}"></script>	
	<script src="{% static "tienda/js/vendor/jquery.storageapi.min.js" %}"></script>	

	<script src="{% static "oficina/js/init.js" %}"></script>

	<!-- Models-->
	<script src="{% static "oficina/js/backbone/models/firme.js" %}"></script>
	<script src="{% static "oficina/js/backbone/models/producto.js" %}"></script>

	<!-- Colecciones -->
	<script src="{% static "oficina/js/backbone/collections/firmes.js" %}"></script>
	<script src="{% static "oficina/js/backbone/collections/productos.js" %}"></script>


	<!-- Rutas -->
	<script src="{% static "oficina/js/backbone/routers/rutas_oficina.js" %}"></script>

	<!-- Vista -->
	<script src="{% static "oficina/js/backbone/views/catalogo/catalogo.js" %}"></script>	
	<script src="{% static "oficina/js/backbone/views/catalogo/firmes.js" %}"></script>	
	<script src="{% static "oficina/js/backbone/views/catalogo/firme_lista.js" %}"></script>	
	<script src="{% static "oficina/js/backbone/views/catalogo/productos.js" %}"></script>	
	<script src="{% static "oficina/js/backbone/views/catalogo/producto_lista.js" %}"></script>	
	<script src="{% static "oficina/js/backbone/views/pagina/resumen.js" %}"></script>	
	<script src="{% static "oficina/js/backbone/views/pagina.js" %}"></script>	

	<script src="{% static "oficina/js/main.js" %}"></script>

{% endblock%}

