{% extends "base.html" %}

{% load staticfiles %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static "tienda/css/bootstrap.min.css" %}" />
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Great+Vibes|Pathway+Gothic+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "tienda/css/owl.carousel.css" %}" />
<link rel="stylesheet" href="{% static "tienda/css/icono.css" %}" />
<!--<link rel="stylesheet" href="{% static "tienda/css/estilos.css" %}" />-->
<link rel="stylesheet" href="{% static "tienda/css/style.css" %}" />
{% endblock %}

{% block layout %}
	<header>
		<div class="container-fluid head_top">
			<div class="row">
				<div class="head_top_left col-md-6">
					<ul class="menu enlinea">
						<li><a class="link" href="/">Ayuda</a></li>
						<li><a class="link" href="/">Chat en Vivo</a></li>
					</ul>
				</div>
				<div class="head_top_right col-md-6">
					<ul class="menu enlinea pull-right">
						<li><a class="link" href="/">Buscar</a></li>
						<div id="usuario_mini" class="enlinea">
						</div>						
					</ul>
				</div>
				<div class="head_movil col-md-12">
					<div class="col-xs-4">
						<a href="tel:015563367" class="text-top">(01)556-3367</a>
					</div>
					<div class="col-xs-4 text-center">
						<a href="/cliente/cuenta/" class="mini_user link">
							<span class="foto_user">
								<img src="/media/tienda/avatar.jpg/" alt="">
							</span>
							<span class="">Ingresar</span>
						</a>
					</div>
					<div class="col-xs-4">
						<div class="busqueda_min pull-right">
							<span class="glyphicon glyphicon-search"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="navegador" class="container-fluid head_main">
			<div class="row">
				<div class="logo col-md-4">
					<a class="link" href="/"><h1>Loviz DelCarpio</h1></a>
				</div>
				<div class="main_menu col-md-8">
					<ul class="menu menu_enlinea navegador">
						<li><a class="link" href="/catalogo/mujer/">Mujer</a></li>
						<li><a class="link" href="/catalogo/hombre/">Hombre</a></li>
						<li><a class="link" href="/">Kids</a></li>
						<li><a class="link" href="/">Ofertas</a></li>
						<li><a class="link" href="/">Novedades</a></li>
					</ul>
				</div>
				<div id="mini_carro"></div>
				<div class="menu_movil">
					<button class="btn btn-default">
						<span class="icono icono-menu icon-menu"></span>
						Menu
					</button>
				</div>
			</div>
		</div>
	</header>
	<div id="contenido">
		<section class="main">
			<div id="slider_home">
			</div>
			<div id="main-contenido"></div>
			<div id="usuario"></div>
			<div id="catalogo"></div>
			<div id="producto_single"></div>
			<div id="carro"></div>
		</section>
		<section class="main-bottom">
			<div class="newsletter">
				<h3>Se el Primero en saber de Loviz Delcarpio</h3>
				<div class="borde-newsletter">
					<div class="caja_text">
						<input type="email" placeholder="Colocar su correo electronico">						
					</div>
					<div class="iconos-newsletter">
						<span class="glyphicon glyphicon-envelope"></span>
					</div>										
				</div>
			</div>
		</section>
	</div>
	<footer class="container-fluid">
		<div class="footer_menu_bottom row">
			<div class="block_footer col-md-2">
				<h3 class="menu_titulo">
					Necesita Ayuda?
					<span class="icono icono-menu icon-arrow-down"></span>
				</h3>
				<ul class="menu">
					<li><a class="link" href="/">Quienes somos</a></li>
					<li><a class="link" href="/">Como Comprar</a></li>
					<li><a class="link" href="/">Preguntas Frecuentes</a></li>
					<li><a class="link" href="/">Medios de Pago</a></li>
					<li><a class="link" href="/">Sobre el envio</a></li>
					<li><a class="link" href="/">Seguimiento de envio</a></li>
					<li><a class="link" href="/">Chat en Linea</a></li>
					<li><a class="link" href="/">Cambio y devoluciones</a></li>
					<li><a class="link" href="/">Contacto</a></li>
				</ul>
			</div>
			<div class="block_footer col-md-2">
				<h3 class="menu_titulo">
					Comprar en Loviz DelCarpio
					<span class="icono icono-menu icon-arrow-down"></span>
				</h3>
				<ul class="menu">
					<li><a class="link" href="/catalogo/mujer/">Mujer</a></li>
					<li><a class="link" href="/">Hombre</a></li>
					<li><a class="link" href="/">Kids</a></li>
					<li><a class="link" href="/">Lo mas Vendido</a></li>
					<li><a class="link" href="/">Mayor puntaje</a></li>
					<li><a class="link" href="/">En Oferta</a></li>
				</ul>
			</div>
			<div class="block_footer col-md-2">
				<h3 class="menu_titulo">
					Informacion del Producto
					<span class="icono icono-menu icon-arrow-down"></span>
				</h3>
				<ul class="menu">
					<li><a class="link" href="/">Convercion de medidas</a></li>
					<li><a class="link" href="/">Modelos</a></li>
					<li><a class="link" href="/">Materiales Usados</a></li>
					<li><a class="link" href="/">Testimonio de Compradores</a></li>
				</ul>
			</div>
			<div class="block_footer col-md-2">
				<h3 class="menu_titulo">
					Informacion del Sitio
					<span class="icono icono-menu icon-arrow-down"></span>
				</h3>
				<ul class="menu ">
					<li><a class="link" href="/">Politicas de Privacidad</a></li>
					<li><a class="link" href="/">Site Map</a></li>
					<li><a class="link" href="/">Terminos de Uso</a></li>
					<li><a class="link" href="/">Libro de reclamaciones</a></li>
				</ul>
			</div>
			<div class="block_footer col-md-2">
				<h3 class="menu_titulo">
					Mi Cuenta
					<span class="icono icono-menu icon-arrow-down"></span>
				</h3>
				<ul class="menu ">
					<li><a class="link" href="/">Ingresar</a></li>
					<li><a class="link" href="/">Registrarme</a></li>
					<li><a class="link" href="/">Mi lista de deseos</a></li>
					<li><a class="link" href="/">Carrito (0)</a></li>
					<li><a class="link" href="/">Estado de mis Ordenes</a></li>
				</ul>
			</div>
			<div class="block_footer col-md-2">
				<h3 class="menu_titulo">
					Medios Sociales
					<span class="icono icono-menu icon-arrow-down"></span>
				</h3>
				<ul class="menu ">
					<li><a class="link" href="/">Facebook</a></li>
					<li><a class="link" href="/">Twitter</a></li>
					<li><a class="link" href="/">Youtube</a></li>
					<li><a class="link" href="/">Pinterest</a></li>
					<li><a class="link" href="/">Instragran</a></li>
					<li><a class="link" href="/">Google plus</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<div id="linea_addcart" class="modal face" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
{% endblock %}

{% block templatesjs %}
  {% include 'tiendajs/carro_tlp_js.html' %}
  {% include 'tiendajs/catalogo_tlp_js.html' %}
  {% include 'tiendajs/tienda_tlp_js.html' %}
  {% include 'tiendajs/productosingle_tlp_js.html' %}
  {% include 'tiendajs/pagar_tlp_js.html' %}
  {% include 'tiendajs/usuario_tlp_js.html' %}
{%endblock%}

{% block backbonescript %}
	<script src="{% static "tienda/js/vendor/owl.carousel.min.js" %}"></script>	
	<script src="{% static "tienda/js/vendor/jquery.zoom.js" %}"></script>	
	<script src="{% static "tienda/js/vendor/jquery.cookie.js" %}"></script>	
	<script src="{% static "tienda/js/vendor/jquery.storageapi.min.js" %}"></script>	

	<script src="{% static "tienda/js/init.js" %}"></script>
	
	<!--Modelos-->		
	<script src="{% static "tienda/js/backbone/models/cliente/favorito.js" %}"></script>

	<script src="{% static "tienda/js/backbone/models/categoria.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/pagar.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/sliderhome.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/producto.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/producto_single.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/linea.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/carro.js" %}"></script>
	<script src="{% static "tienda/js/backbone/models/usuario.js" %}"></script>
	
	<!--Collectiones-->	
	<script src="{% static "tienda/js/backbone/collections/cliente/favoritos.js" %}"></script>

	<script src="{% static "tienda/js/backbone/collections/categorias.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/sliderhomes.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/productos.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/productos_single.js" %}"></script>
	<script src="{% static "tienda/js/backbone/collections/lineas.js" %}"></script>
	
	<!--Vistas-->
	<script src="{% static "tienda/js/backbone/views/carro/carro.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/carro/lineas_carro.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/carro/mini_carro.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/carro/linea_add_cart.js" %}"></script>	

	<script src="{% static "tienda/js/backbone/views/catalogo/catalogo.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/catalogo/categorias.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/catalogo/categoria_link.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/catalogo/producto.js" %}"></script>
	
	<script src="{% static "tienda/js/backbone/views/pagar/pagar.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/pagar/paso_login.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/pagar/paso_envio.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/pagar/paso_pagar.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/pagar/pagar_resumen.js" %}"></script>

	<script src="{% static "tienda/js/backbone/views/producto_single/estrellas.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/producto_single/galeria.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/producto_single/galeria_movil.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/producto_single/favorito_icono.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/producto_single/producto_single.js" %}"></script>	
	
	<script src="{% static "tienda/js/backbone/views/usuario/mini_usuario.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/usuario/form_login.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/usuario/usuario.js" %}"></script>	

	<script src="{% static "tienda/js/backbone/views/tienda/breadcrumb.js" %}"></script>	
	<script src="{% static "tienda/js/backbone/views/tienda/navegador.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/tienda/sliderhome.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/tienda/sliderhomes.js" %}"></script>
	<script src="{% static "tienda/js/backbone/views/tienda/tienda.js" %}"></script>

	<script src="{% static "tienda/js/backbone/routers/base.js" %}"></script>		

	<script src="{% static "tienda/js/main.js" %}"></script>	
{% endblock%}

