//Nueva Vercion
f_imprenta ='Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;

color1 = #F7727A
color2 = #2dbab2

a
	color #111
	text-decoration none
	&:hover
		color #111
.menu
	font-family f_imprenta
	text-transform uppercase
	&.navegador
		font-size 1.1em
.main_menu
	.menu.enlinea
		a
			padding 25px 20px 10px
.logo
	font-family f_cusrsiva
	a:hover
		text-decoration none
//Estructuras
.head_main
	border-bottom 1px solid #f4f4f4
	border-top 1px solid #f4f4f4
	.row
		width 900px
		margin 0 auto
.head_top
	.menu.enlinea
		li
			a
				padding 5px 10px
				border-right 1px solid #f4f4f4
.menu
	li
		list-style none
	&.enlinea
		margin 0
		padding 0
		li
			display inline-block
			a
				display inline-block
				padding 3px 5px
.main-bottom
	background #fafafa
	text-align center
	padding 3em 0 4em
	.newsletter
		text-transform uppercase
		font-family f_imprenta
		.borde-newsletter
			width 300px
			margin 0 auto
			border 3px solid #333
			background #fff
			.caja_text
				display inline-block
				width 250px
				font-size 1.2em
			input
				border none
				outline none
				width 90%
			.iconos-newsletter
				display inline-block
				width 40px
				padding 5px 
				border-left 3px solid #333
		
//footer
footer
	background #111
	color #fff
	padding-top 4em
	a
		color #fff
	.block_footer
		h3.menu_titulo
			font-family f_imprenta
			text-transform uppercase
			font-size 1.35em
			padding 5px 0px
			border-bottom 1px solid #333
		.menu
			text-transform capitalize
			padding 0
			li
				margin 5px 0
				a:hover
					color #fff
					text-decoration underline
					
#slider_home
	.owl-item
		background #fff
		.slide
			opacity 0.5
	.center
		.slide
			opacity 1