a{color:#111;text-decoration:none;}
a:hover{color:#111}
.contenedor{width:1200px;margin:0 auto}
.menu{font-family:'Pathway Gothic One',sans-serif;text-transform:uppercase;}
.menu.navegador{font-size:1.1em}
.main_menu .menu.enlinea a{padding:25px 20px 10px}
.logo{font-family:'Great Vibes',cursive;}
.logo a:hover{text-decoration:none}
.head_main{border-bottom:1px solid #f4f4f4;border-top:1px solid #f4f4f4;}
.head_main .row{width:900px;margin:0 auto}
.head_top .menu.enlinea li a{padding:5px 10px;border-right:1px solid #f4f4f4}
.menu li{list-style:none}
.menu.enlinea{margin:0;padding:0;}
.menu.enlinea li{display:inline-block;}
.menu.enlinea li a{display:inline-block;padding:3px 5px}
.main-bottom{background:#fafafa;text-align:center;padding:3em 0 4em;}
.main-bottom .newsletter{text-transform:uppercase;font-family:'Pathway Gothic One',sans-serif;}
.main-bottom .newsletter .borde-newsletter{width:300px;margin:0 auto;border:3px solid #333;background:#fff;}
.main-bottom .newsletter .borde-newsletter .caja_text{display:inline-block;width:250px;font-size:1.2em}
.main-bottom .newsletter .borde-newsletter input{border:none;outline:none;width:90%}
.main-bottom .newsletter .borde-newsletter .iconos-newsletter{display:inline-block;width:40px;padding:5px;border-left:3px solid #333}
.productos .producto{text-align:center;}
.productos .producto img{width:100%}
.productos .producto .nombre_producto{font-family:'Pathway Gothic One',sans-serif;font-size:1.1em;}
.productos .producto .nombre_producto .estilo{font-weight:bold;text-transform:uppercase}
.productos .producto .precios{font-family:'Pathway Gothic One',sans-serif;font-size:1.4em;}
.productos .producto .precios .en_oferta{color:#f7727a}
.productos .producto .precios .old_precio{font-size:.8em;margin:0 10px}
#producto_single{margin-top:20px;}
#producto_single h1.titulo{font-family:'Pathway Gothic One',sans-serif}
#producto_single img{width:100%}
#producto_single label{text-transform:uppercase;font-family:'Pathway Gothic One',sans-serif;letter-spacing:1px}
#producto_single .text-uppercase{font-family:'Pathway Gothic One',sans-serif}
#producto_single .colores a{display:inline-block;width:100px}
#producto_single .formulario_producto{width:300px;margin:10px auto;text-align:center;}
#producto_single .formulario_producto button{width:100%;margin:10px 0}
#producto_single .titulo{margin:5px 0}
#producto_single .precios_single{font-family:'Pathway Gothic One',sans-serif;}
#producto_single .precios_single .precio{font-size:1.5em;margin:0 10px}
#producto_single .precios_single .variacion{display:none}
#producto_single #producto_galeria{padding-top:5px}
#producto_single #producto_video{padding-top:5px;text-align:center;display:none}
#producto_single .reviews{margin:3px 0;}
#producto_single .reviews .estrellas{float:left;margin:0 15px 0 0}
#producto_single .reviews .escribe{cursor:pointer;text-transform:uppercase;font-family:'Pathway Gothic One',sans-serif}
#producto_single .seccion_producto{border-top:1px solid #f4f4f4;padding:5px 0}
#producto_single .categoria{border-left:1px solid #f4f4f4;border-right:1px solid #f4f4f4;padding:0 15px}
#producto_single .estilo{padding:0 15px}
#producto_single .seccion_2_producto{padding-top:2em;padding-bottom:2em;margin-top:2em}
#producto_single h3.subtitulo{font-family:'Pathway Gothic One',sans-serif;text-decoration:underline;font-style:normal;font-size:1.8em}
#producto_single h4.subtitulo{font-size:1.1em;text-align:center}
footer{background:#111;color:#fff;padding-top:4em;}
footer a{color:#fff}
footer .block_footer h3.menu_titulo{font-family:'Pathway Gothic One',sans-serif;text-transform:uppercase;font-size:1.35em;padding:5px 0;border-bottom:1px solid #333}
footer .block_footer .menu{text-transform:capitalize;padding:0;}
footer .block_footer .menu li{margin:5px 0;}
footer .block_footer .menu li a:hover{color:#fff;text-decoration:underline}
#slider_home .owl-item{background:#fff;}
#slider_home .owl-item .slide{opacity:.5}
#slider_home .center .slide{opacity:1}
#navegador{transition-property:top,box-shadow;transition-duration:1s;transition-timing-function:linear;}
#navegador.menu-fijo{box-shadow:0 0 8px 0 rgba(0,0,0,0.4);position:fixed;top:0;width:100%;background:#fff;z-index:2}
