//Nueva Vercion
f_imprenta ='Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;

color1 = #F7727A
color2 = #2dbab2
aguamarina = #60CCC4
body
	a
		color #111
		text-decoration none
		&:hover
			color #111
	.contenedor
		max-width 1250px
		margin 0 auto
	.contraste1
		background #111
		color #fff
	.enlinea
		display inline-block
	.text_imprenta
		font-family f_imprenta
		text-transform uppercase
	.text_cursiva
		font-family f_cusrsiva
	.visible
		display block!important
	.invisible
		display none
	.btn_facebook
		background-color #3a5795
		border-bottom 1px solid #133783
		box-shadow 0 2px 2px -2px rgba(0, 0, 0, .52)
		color #fff
		font-family 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif
		text-transform initial
	.menu
		font-family f_imprenta
		text-transform uppercase
		padding 0
		margin 0
		&.navegador
			font-size 1.1em
		
	.main_menu
		.menu.enlinea
			a
				padding 25px 20px 10px
	.logo
		font-family f_cusrsiva
		a:hover
			text-decoration none
	//Estructuras
	.head_main
		border-bottom 1px solid #f4f4f4
		border-top 1px solid #f4f4f4
		.row
			width 900px
			margin 0 auto
	.head_top
		.menu.enlinea
			li
				a
					padding 5px 10px
					border-right 1px solid #f4f4f4
	.menu
		li
			list-style none
		&.enlinea
			margin 0
			padding 0
			li
				display inline-block
				a
					display inline-block
					padding 3px 5px
.icono_loved
	position relative
	font-family f_imprenta
	top 5px
	right 10px
	.icono
		cursor pointer
		&:hover
			color aguamarina
		&.checkin
			color aguamarina
	.favoritos
		.cartelicono
			width 200px
			right 5px
		
.cartel_flotante
	font-size 1.2em
	position absolute
	background-color #ECECEC
	border-top 3px solid #111
	box-shadow 0px 2px 4px rgba(0,0,0,0.5)
	display none
	
.main-bottom
	background #fafafa
	text-align center
	padding 3em 0 4em
	.newsletter
		text-transform uppercase
		font-family f_imprenta
		.borde-newsletter
			width 300px
			margin 0 auto
			border 3px solid #333
			background #fff
			.caja_text
				display inline-block
				width 250px
				font-size 1.2em
			input
				border none
				outline none
				width 90%
			.iconos-newsletter
				display inline-block
				width 40px
				padding 5px 
				border-left 3px solid #333
.productos
	.producto
		position relative
		text-align center
		border 1px solid #fff
		&:hover
			border 1px solid #f4f4f4
			box-shadow 0px 0px 4px rgba(0,0,0,0.5)
		img
			width 100%
		.nombre_producto
			font-family f_imprenta
			font-size 1.1em
			.estilo
				font-weight bold
				text-transform uppercase
		.precios
			font-family f_imprenta
			font-size 1.4em
			.en_oferta
				color #F7727A
			.old_precio
				font-size 0.8em
				margin 0 10px
		.estrellas
			margin 10px 0
#producto_single
	margin-top 20px
	h1.titulo
		font-family f_imprenta
	img
		width 100%
	label
		text-transform uppercase
		font-family f_imprenta
		letter-spacing 1px
	.text-uppercase
		font-family f_imprenta
	.colores
		a
			display inline-block
			width 100px
	.formulario_producto
		width 300px
		margin 10px auto
		text-align center
		.addcart
			text-transform uppercase
			&:hover
				background-color #468847
				border-color #3d773e
				color #fff
						
		button
			width 100%
			margin 10px 0
		
	.titulo
		margin 5px 0
	.precios_single
		font-family f_imprenta
		.precio
			font-size 1.5em		
			margin 0 10px
		.variacion
			display none
	#producto_galeria
		padding-top 5px
	#producto_video
		padding-top 5px
		text-align center
		display none
	.reviews
		margin 3px 0
		.estrellas
			float left
			margin 0 15px 0 0
		.escribe
			cursor pointer
			text-transform uppercase
			font-family f_imprenta
		.estrellas,.puntuacion,.numero
			margin 0 5px
		.puntuacion
			font-weight bold
			text-decoration underline
	.seccion_producto
		border-top 1px solid #f4f4f4
		padding 5px 0
	.categoria
		border-left 1px solid #f4f4f4
		border-right 1px solid #f4f4f4
		padding 0 15px
	.estilo
		padding 0 15px
	.seccion_2_producto
		padding-top 2em
		padding-bottom 2em
		margin-top 2em
	h3.subtitulo
		font-family f_imprenta
		text-decoration underline
		font-style normal
		font-size 1.8em
	h4.subtitulo
		font-size 1.1em
		text-align center
//footer
footer
	background #111
	color #fff
	padding-top 4em
	a
		color #fff
	.block_footer
		h3.menu_titulo
			font-family f_imprenta
			text-transform uppercase
			font-size 1.35em
			padding 5px 0px
			border-bottom 1px solid #333
		.menu
			text-transform capitalize
			padding 0
			li
				margin 5px 0
				a:hover
					color #fff
					text-decoration underline
					
#slider_home
	.owl-item
		background #fff
		.slide
			opacity 0.5
	.center
		.slide
			opacity 1
#navegador
	transition-property top, box-shadow
	transition-duration: 1s
	transition-timing-function : linear
	&.menu-fijo
		box-shadow 0px 0px 8px 0px rgba(0,0,0,0.4)
		position fixed
		top 0
		width 100%
		background #fff
		z-index 2
#usuario_mini
	position relative
	width 100px
	&:hover
		.caja_login
			display block
			opacity 1	
	.caja_login
		display none
		opacity 0
		width 600px
		position absolute
		left -520px
		z-index 2
		background #fff
		border-top 4px solid #111
		box-shadow 0px 2px 3px rgba(0,0,0,0.5)
		padding-bottom 10px
		transition all 1s ease-out
		&:hover
			display block
			opacity 1
		&.miniuser
			width 100px
			left 0
			
		form
			margin-bottom 10px
		label
			font-family "Helvetica Neue",Helvetica,Arial,sans-serif
			text-transform initial
		input
			font-family "Helvetica Neue",Helvetica,Arial,sans-serif
.caja
	&.borde_top
		border-top 1px solid