body{font-family:'Josefin Sans',sans-serif;font-size:16px;}
body a{color:#111;}
body a:hover{color:#111}
body img{z-index:1}
body .btn{border-radius:0;width:100%;text-transform:uppercase;font-family:'Pathway Gothic One',sans-serif;padding:8px 12px;letter-spacing:2px;font-size:16px}
body .btn-default{border-color:#999;}
body .btn-default:hover,body .btn-default:active,body .btn-default:focus{background:#fff;opacity:.5}
body .btn-contraste{background:#111;color:#fff;}
body .btn-contraste:hover{background:#468847;border-color:#3d773e;opacity:1;color:#fff}
.bloque_top{display:none;background:#333;}
.bloque_top p{margin:0;padding:3px 0}
.bloque_menu_top{display:none}
.breadcrumb{display:none}
#bloques_footer .block_footer h4{text-transform:uppercase;letter-spacing:2px;border-bottom:1px solid #333;padding-bottom:.5em;font-size:20px;position:relative;margin-top:11px;margin-bottom:11px;}
#bloques_footer .block_footer h4 .icono{position:absolute;right:5px}
.contraste1{background:#333;color:#fff}
.cargando{background:rgba(255,255,255,0.8);width:100%;height:100%;position:absolute;display:none;z-index:10;text-align:center;}
.cargando .icono{z-index:11;position:absolute;top:40%;width:initial}
.carro_vacio{padding:5pc 0}
#carro_page{min-height:400px;}
#carro_page .titulo{font-size:36px;text-transform:uppercase}
#carro_page .btn{margin:10px 0}
#carro_page .carro_action .btn{font-size:1.3em}
.catalogo #primario{position:relative;min-height:1px;padding-left:15px;padding-right:15px;width:100%;float:left}
.catalogo #secundario{float:left;}
.catalogo #secundario.js-off-canvas{position:fixed;top:0;left:0;height:100%;width:100%;z-index:99;visibility:hidden;-webkit-transition:visibility 0s .6s;transition:visibility 0s .6s;}
.catalogo #secundario.js-off-canvas::after{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;background:transparent;-webkit-transition:background .3s .3s;transition:background .3s .3s;content:""}
.catalogo #secundario.js-off-canvas.is_visible{visibility:visible;-webkit-transition:visibility 0s 0s;transition:visibility 0s 0s;}
.catalogo #secundario.js-off-canvas.is_visible::after{background:rgba(0,0,0,0.6);-webkit-transition:background .3s 0s;transition:background .3s 0s}
.catalogo #secundario.js-off-canvas.is_visible .js-panel{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition-delay:0s;transition-delay:0s}
.catalogo #secundario.js-off-canvas .js-panel{position:fixed;width:90%;height:100%;top:60px;right:0;background:#fff;z-index:101;padding:2em 1em 2em 2em;overflow-y:auto;-webkit-transition-property:-webkit-transform;transition-property:transform;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-delay:.3s;transition-delay:.3s;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);box-shadow:-2px 0 10px rgba(0,0,0,0.5);}
.catalogo #secundario.js-off-canvas .js-panel .header-aside{display:block;margin:-2em -2em 1em;padding:2em;border-bottom:1px solid #f4f4f4;background:#111;color:#fff;position:relative;}
.catalogo #secundario.js-off-canvas .js-panel .header-aside h2{padding:0;margin:0;display:block;font-size:16px;letter-spacing:2px}
.catalogo #secundario.js-off-canvas .js-panel .header-aside .js-panel-close-btn{position:absolute;top:0;right:0;height:100%;width:60px;background:#111;display:inline-block;overflow:hidden;white-space:nowrap;border:1px solid transparent;color:#999;}
.catalogo #secundario.js-off-canvas .js-panel .header-aside .js-panel-close-btn:hover{color:#fff}
.catalogo #secundario.js-off-canvas .from-right{right:0;-webkit-transform:translate3d(100%,0,0);-ms-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
.catalogo #secundario .refinamiento{font-family:'Pathway Gothic One',sans-serif;letter-spacing:1px;}
.catalogo #secundario .refinamiento ul{list-style:none;padding:0;margin:0;}
.catalogo #secundario .refinamiento ul li{display:inline-block;width:49%;padding:4px}
.catalogo .titulo small{display:block}
footer{font-family:'Pathway Gothic One',sans-serif;background:#111;color:#fff;padding-top:20px;}
footer a{color:#fff}
footer .redes_sociales_footer{display:block;padding:2em 0;text-align:center;}
footer .redes_sociales_footer a{padding:.2em .4em;min-width:44px;display:inline-block;font-size:1.5em}
.imprenta{font-family:'Pathway Gothic One',sans-serif}
h1,h2,h3,h4{font-family:'Pathway Gothic One',sans-serif;text-transform:uppercase}
header#header{transition:all 600ms cubic-bezier(1,0,0,1);background:#fff;z-index:101;top:0;position:fixed;width:100%}
img{width:100%}
#warp{min-height:900px;background:#fff;padding-top:111px;width:100%;position:static;z-index:50;-webkit-transition:all 300ms linear;transition:all 300ms linear}
.mobile-layout{width:100%;}
.mobile-layout.push{overflow:hidden;}
.mobile-layout.push header#header{position:fixed;transform:translate3d(88%,0,0);-webkit-transform:translate3d(88%,0,0)}
.mobile-layout.push #warp{position:fixed;transform:translate3d(88%,0,0);webkit-transform:translate3d(88%,0,0)}
.mobile-layout.push .overlay-mobil{opacity:1;display:block}
.mobile-layout #warp{padding-top:68px;box-shadow:0 0 15px rgba(0,0,0,0.5);left:0;position:relative;-webkit-transition:all 600ms cubic-bezier(1,0,0,1);transition:all 600ms cubic-bezier(1,0,0,1);-webkit-backface-visibility:hidden;backface-visibility:hidden;overflow:hidden}
.main_menu{position:relative;z-index:1000;width:100%;padding:5px;border-bottom:1px solid #f4f4f4;box-shadow:0 0 10px rgba(0,0,0,0.5);}
.main_menu .boton-menu{position:absolute;top:16px;left:10px;}
.main_menu .boton-menu.icono-mobil button{border:1px solid #f4f4f4}
.main_menu .menu-principal{display:none;font-family:'Pathway Gothic One',sans-serif;text-transform:uppercase;position:absolute;width:100%;z-index:1;border-bottom:2px solid #ccc;}
.main_menu .menu-principal li{margin:0 10px;border-bottom:1px solid #f4f4f4;background:#fff;}
.main_menu .menu-principal li a{display:block;text-align:center;width:100%;padding:4px 5px}
.main_menu .mini-cart{position:absolute;top:20px;right:10px;border:1px solid #f4f4f4;padding:5px;}
.main_menu .mini-cart .items{background:#333;color:#fff;font-family:'Pathway Gothic One',sans-serif;width:20px;display:inline-block;text-align:center;border-radius:10px}
#main{overflow:hidden;min-height:20em}
#mobile-nav.mobile-nav{background:#fff;position:absolute;left:0;top:0;height:100%;z-index:50;-webkit-transition:all 600ms cubic-bezier(1,0,0,1);transition:all 600ms cubic-bezier(1,0,0,1);width:88%;overflow:hidden}
#mobile-nav .secundary-nav{background:#111;position:absolute;display:block;top:0;left:0;width:58px;height:100%;}
#mobile-nav .secundary-nav ul{padding:0;margin:0;list-style:none}
#mobile-nav .secundary-nav a{display:block;color:#fff;position:relative;height:58px;width:58px;line-height:60px;padding-bottom:22px;font-size:2em;text-align:center;}
#mobile-nav .secundary-nav a:hover{opacity:.8}
#mobile-nav .secundary-nav a .mobile-cart-total{font-size:.5em;color:#333;position:absolute;top:16%;right:16%;background:#fff;display:block;height:18px;line-height:20px;width:18px;border-radius:20px;font-family:'Pathway Gothic One',sans-serif}
#mobile-nav .etiqueta{font-size:13px;background:none;display:block;position:absolute;bottom:-22px;left:0;right:0}
#mobile-nav .primary-nav{overflow-y:scroll;overflow-x:hidden;margin-left:58px;height:100%;}
#mobile-nav .primary-nav ul.menu-principal-mobil{margin:0;padding:0;background:#fff;z-index:100;font-family:'Pathway Gothic One',sans-serif;}
#mobile-nav .primary-nav ul.menu-principal-mobil li{width:auto;float:none;padding:0;border:1px solid #f4f4f4;}
#mobile-nav .primary-nav ul.menu-principal-mobil li a{padding:1em;padding-right:2.7em;text-transform:uppercase;display:block;letter-spacing:2px}
.menu{list-style:none;margin:0;padding:0;}
.menu.menu-linea li{display:inline-block}
.no-mobil{display:none}
#linea_addcart{font-family:'Pathway Gothic One',sans-serif;}
#linea_addcart .botones .btn{width:100%}
#lineas_carro{font-family:'Pathway Gothic One',sans-serif;}
#lineas_carro .linea{margin:10px 0;overflow:hidden;}
#lineas_carro .linea .accion:hover{cursor:pointer;text-decoration:underline}
#lineas_carro .linea .linea_cantidad{position:relative}
.logo{overflow:hidden;width:52%;margin:0 auto;text-align:center;}
.logo h1{font-family:'Pathway Gothic One',sans-serif;margin:0;font-size:16px;text-transform:none}
.logo .img_log{width:34px;overflow:hidden;margin:0 auto;}
.logo .img_log img{width:81px}
.productos .producto{text-align:center;}
.productos .producto:hover .estrellas{opacity:1}
.productos .producto a{color:#111}
.productos .producto .nombre_producto{font-family:'Pathway Gothic One',sans-serif;}
.productos .producto .nombre_producto .estilo{text-transform:uppercase}
.productos .producto .estrellas{opacity:0}
.productos .producto .precios{font-family:'Pathway Gothic One',sans-serif}
.producto_single .colores a{display:inline-block;width:100px;}
.producto_single .colores a.interno{border-bottom:1px solid #111}
.producto_single .colores a:hover{border-bottom:1px solid #ccc}
.producto_single h1.producto_name{padding:15px 15px 0 15px;position:relative;font-family:'Pathway Gothic One',sans-serif;}
.producto_single h1.producto_name .producto_genero{display:block;font-size:.5em;text-transform:uppercase}
.producto_single #producto_galeria_destok{display:none}
.producto_single #producto_galeria_movil{border-top:1px solid #f4f4f4}
.producto_single .precios{font-family:'Pathway Gothic One',sans-serif;font-size:2em;}
.producto_single .precios .variacion{display:none;}
.producto_single .precios .variacion.visible{display:block}
.producto_single .precios .variacion .old_precio{font-size:.7em}
.producto_single .reviews .estrellas div{display:inline-block}
.producto_single .reviews .estrellas .color-plomo{color:#ccc}
.producto_single .reviews .estrellas .color-aguamarina{color:#60ccc4}
.producto_single .seccion-producto{border-top:1px solid #f4f4f4;padding:10px;}
.producto_single .seccion-producto .categoria{display:inline-block;font-family:'Pathway Gothic One',sans-serif;}
.producto_single .seccion-producto .categoria button{text-transform:uppercase}
.producto_single .seccion-add-cart{position:relative;padding:15px 0;}
.producto_single .seccion-add-cart .seleccionado-todo{display:none}
.producto_single .seccion-add-cart .btn{width:100%;font-size:1.2em;margin:15px 0;text-transform:uppercase;font-family:'Pathway Gothic One',sans-serif}
.producto_single .seccion-add-cart .seleccionado-todo .btn{font-size:1.2em;position:relative;padding-top:10px;padding-bottom:10px}
.producto_single .seccion-add-cart .seleccionado-todo .add_cart{-webkit-transition:background 100ms ease-in;transition:background 100ms ease-in;}
.producto_single .seccion-add-cart .seleccionado-todo .add_cart:hover{background:#468847;border-color:#3d773e;color:#fff}
.producto_single .seccion-add-cart .seleccionado-todo .add_cart::after{transition:all 200ms ease-in;content:" >";position:absolute;right:2em;opacity:1}
.overlay-mobil{width:100%;height:100%;position:absolute;top:0;left:0;background:rgba(255,255,255,0.8);z-index:50;opacity:0;display:none}
.carrusel .titulo_slider{text-align:center;font-family:'Pathway Gothic One',sans-serif;}
.carrusel .titulo_slider .reglon{width:40px;height:2px;background:#333;display:inline-block;margin:7px}
.refinamiento-nav{margin:1em 0}
