f_imprenta ='Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;


rojito = #F7727A
aguamarina = #60CCC4

body
	font-family: 'Josefin Sans', sans-serif;
	font-size 16px
	a
		color #111
		&:hover
			color #111
	.btn
		border-radius 0px
		width 100%
		text-transform uppercase
		font-family f_imprenta
	
	.btn-contraste
		background #111
		color #fff
		&:hover
			background:#468847;
			border-color:#3d773e;
			opacity:1
			color #fff
.bloque_top
	background #333
	p
		margin 0
		padding 3px 0
.bloque_menu_top
	display none
#bloques_footer
	.block_footer
		h4
			text-transform uppercase
			letter-spacing 2px
			border-bottom 1px solid #333
			padding-bottom .5em
			font-size 20px
			position relative
			margin-top 11px
			margin-bottom 11px
			.icono
				position absolute
				right 5px
.contraste1
	background #333
	color #fff
.cargando
	background rgba(255, 255, 255, 0.8)
	width 100%
	height 100%
	position absolute
	display none
	z-index 10
	text-align center
	.icono
		z-index 11
		position absolute
		top 40%
		width initial
.carro_vacio
	padding 5pc 0px
#carro_page
	min-height 400px
	.titulo
		font-size 36px
		text-transform uppercase
	.btn
		margin 10px 0
	.carro_action
		.btn
			font-size 1.3em
	
footer
	font-family f_imprenta
	background #111
	color #fff
	padding-top 20px
	a
		color #fff
	.redes_sociales_footer
		display block
		padding 2em 0
		text-align center
		a
			padding 0.2em 0.4em
			min-width 44px
			display inline-block
			font-size 1.5em

/*Fuentes*/
.imprenta
	font-family f_imprenta
h1,h2,h3,h4
	font-family f_imprenta
img
	width 100%
#main
	min-height 400px
.main_menu
	position relative
	padding 10px 0 0
	border-bottom 1px solid #f4f4f4
	.boton-menu
		position absolute
		top 20px
		left 10px
	.menu-principal
		display none
		font-family f_imprenta
		text-transform uppercase
		position absolute
		width 100%
		z-index 1
		border-bottom 2px solid #ccc
		li
			margin 0 10px
			border-bottom 1px solid #f4f4f4
			background #fff
			a
				display block
				text-align center
				width 100%		
				padding 4px 5px	
	.mini-cart
		position absolute
		top 20px
		right 10px
		border 1px solid #f4f4f4
		padding 5px
		.items
			background #333
			color #fff
			font-family f_imprenta
			width 20px
			display inline-block
			text-align center
			border-radius 10px
.menu
	list-style none
	margin 0
	padding 0
	&.menu-linea
		li
			display inline-block
.no-mobil
	display none
#linea_addcart
	font-family f_imprenta
	.botones
		.btn
			width 100%
#lineas_carro
	font-family f_imprenta
	.linea
		margin 10px 0
		overflow hidden
		.accion
			
			&:hover
				cursor pointer
				text-decoration underline
		.linea_cantidad
			position relative
.logo
	overflow hidden
	width 52%
	margin 0 auto
	h1
		font-family f_cusrsiva
		float left
		margin 10px 0
	.img_log
		float left
		display none
		width 48px
		overflow hidden
		img
			width 120px
.productos
	.producto
		text-align center
		&:hover
			.estrellas
				opacity 1
		a
			color #111
		.nombre_producto
			font-family f_imprenta
			.estilo
				text-transform uppercase
		.estrellas
			opacity 0
.producto_single
	.colores
		a
			display inline-block
			width 100px
			&.interno
				border-bottom 1px solid #111
			&:hover
				border-bottom 1px solid #ccc
	h1.producto_name
		padding 15px 15px 0 15px
		position relative
		font-family f_imprenta
		.producto_genero
			display block
			font-size .5em
			text-transform uppercase
	#producto_galeria_destok
		display none
	#producto_galeria_movil
		border-top 1px solid #f4f4f4
	.precios
		font-family f_imprenta
		font-size 2em
		.variacion
			display none
			&.visible
				display block 
			.old_precio
				font-size 0.7em
	.reviews
		.estrellas
			div
				display inline-block
			.color-plomo
				color #ccc
			.color-aguamarina
				color aguamarina
	.seccion-producto
		border-top 1px solid #f4f4f4
		padding 10px
		.categoria
			display inline-block			
			font-family f_imprenta
			button
				text-transform uppercase
	.seccion-add-cart
		position relative
		padding 15px 0		
		.seleccionado-todo
			display none
		.btn
			width 100%
			font-size 1.2em
			margin 15px 0
			text-transform uppercase
			font-family f_imprenta
		.seleccionado-todo
			.btn
				font-size 1.2em
				position relative
				padding-top 10px 
				padding-bottom 10px 
			.add_cart
				-webkit-transition background 100ms ease-in
				transition background 100ms ease-in
				&:hover
					background #468847
					border-color #3d773e
					color #fff					
				&::after				
					transition all 200ms ease-in
					content " >"
					position absolute
					right 2em
					opacity 1
.carrusel
	.titulo_slider
		text-align center
		font-family f_imprenta
		.reglon
			width 40px
			height 2px
			background #333
			display inline-block
			margin 7px