f_imprenta ='Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;


rojito = #F7727A
aguamarina = #60CCC4

body
	font-family: 'Josefin Sans', sans-serif;
	font-size 16px
	.btn-contraste
		background #111
		font-family f_imprenta
		text-transform uppercase
		color #fff
.bloque_top
	background #333
	p
		margin 0
		padding 3px 0
.bloque_menu_top
	display none
#bloques_footer
	.block_footer
		h4
			text-transform uppercase
			letter-spacing 2px
			border-bottom 1px solid #333
			padding-bottom .5em
			font-size 20px
			position relative
			margin-top 11px
			margin-bottom 11px
			.icono
				position absolute
				right 5px
.contraste1
	background #333
	color #fff
footer
	font-family f_imprenta
	background #111
	color #fff
	padding-top 20px
	a
		color #fff
	.redes_sociales_footer
		display block
		padding 2em 0
		text-align center
		a
			padding 0.2em 0.4em
			min-width 44px
			display inline-block
			font-size 1.5em

/*Fuentes*/
.imprenta
	font-family f_imprenta
img
	width 100%
.main_menu
	position relative
	padding 10px 0 0
	border-bottom 1px solid #f4f4f4
	.boton-menu
		position absolute
		top 20px
		left 10px
	.menu-principal
		display none
	.mini-cart
		position absolute
		top 20px
		right 10px
		border 1px solid #f4f4f4
		padding 5px
		.items
			background #333
			color #fff
			font-family f_imprenta
			width 20px
			display inline-block
			text-align center
			border-radius 10px
.menu
	list-style none
	margin 0
	padding 0
	&.menu-linea
		li
			display inline-block
.no-mobil
	display none
.logo
	overflow hidden
	width 52%
	margin 0 auto
	h1
		font-family f_cusrsiva
		float left
		margin 10px 0
	.img_log
		float left
		display none
		width 48px
		overflow hidden
		img
			width 120px
.productos
	.producto
		text-align center
		&:hover
			.estrellas
				opacity 1
		a
			color #111
		.nombre_producto
			font-family f_imprenta
			.estilo
				text-transform uppercase
		.estrellas
			opacity 0
.producto_single
	.colores
		a
			display inline-block
			width 100px
			&.interno
				border-bottom 1px solid #111
			&:hover
				border-bottom 1px solid #ccc
	h1.producto_name
		padding 15px 15px 0 15px
		position relative
		font-family f_imprenta
		.producto_genero
			display block
			font-size .5em
			text-transform uppercase
	#producto_galeria_destok
		display none
	#producto_galeria_movil
		border-top 1px solid #f4f4f4
	.precios
		font-family f_imprenta
		font-size 2em
		.variacion
			display none
			&.visible
				display block 
			.old_precio
				font-size 0.7em
	.reviews
		.estrellas
			div
				display inline-block
			.color-plomo
				color #ccc
			.color-aguamarina
				color aguamarina
	.seccion-producto
		border-top 1px solid #f4f4f4
		padding 10px
		.categoria
			display inline-block			
			font-family f_imprenta
			button
				text-transform uppercase
	.seccion-add-cart
		padding 15px 0		
		.seleccionado-todo
			display none
		.btn
			width 100%
			font-size 1.2em
		
				
.carrusel
	.titulo_slider
		text-align center
		font-family f_imprenta
		.reglon
			width 40px
			height 2px
			background #333
			display inline-block
			margin 7px