body{font-family:'Josefin Sans',sans-serif;font-size:16px;}
body a{color:#111;text-decoration:none;}
body a:hover{text-decoration:underline;color:#111}
body a:visited,body a:link,body a:active{color:#111}
body .contenedor{margin:0 auto;max-width:420px}
body .enlinea{display:inline-block}
body .invisible{display:none}
body .titulo{font-family:'Pathway Gothic One',sans-serif;text-transform:uppercase;text-align:center;font-size:36px}
body .text_imprenta{font-family:'Pathway Gothic One',sans-serif;text-transform:uppercase}
body .visible{display:block !important}
#breadcrumb{background-color:#fff;text-transform:uppercase}
.btn{border-radius:0;transition:all .2s ease-out;outline:none;padding:10px 10px;font-family:'Pathway Gothic One',sans-serif;}
.btn.contraste1{text-transform:uppercase;background-color:#111;color:#fff;font-size:1.2em;position:relative;}
.btn.contraste1 .icon-angle-right{position:absolute;top:13px;right:40px;display:none}
.btn.contraste1:hover{background-color:#468847;border-color:#3d773e;color:#fff;}
.btn.contraste1:hover .icon-angle-right{display:block;right:45px}
.btn.contraste2{text-transform:uppercase;color:#111}
.btn.justi{width:100%}
.cartel_flotante{font-size:1.2em;position:absolute;background-color:#ececec;border-top:3px solid #111;box-shadow:0 2px 4px rgba(0,0,0,0.5);display:none}
#catalogo{margin-bottom:20px;}
#catalogo .refinamiento-nav{margin:20px 0;}
#catalogo .refinamiento-nav .btn{width:100%}
#caja_ajax{position:fixed;z-index:1000;background-color:#fff;width:100%;height:100%;opacity:.8;display:none;}
#caja_ajax img{position:absolute;top:40%;left:40%}
#carro .carro_action .btn{margin:10px 0;width:100%}
#carro .row{margin:0}
footer{background:#111;color:#fff;padding-top:4em;}
footer .block_footer h3.menu_titulo{font-family:'Pathway Gothic One',sans-serif;text-transform:uppercase;font-size:1.35em;padding:5px 0;border-bottom:1px solid #333;cursor:pointer;position:relative;}
footer .block_footer h3.menu_titulo .icono-menu{position:absolute;top:8px;right:20px}
footer .block_footer .menu{display:none;text-transform:capitalize;padding:0;}
footer .block_footer .menu li{margin:5px 0;}
footer .block_footer .menu li a{color:#fff;}
footer .block_footer .menu li a:hover{color:#fff;text-decoration:underline}
.form-control{border-radius:0}
.form-group .text-danger{display:none}
.form-group.has-error .text-danger{display:block}
.head_top .head_top_left,.head_top .head_top_right{display:none}
.head_top .head_movil{border-bottom:2px solid #111;overflow:hidden;background-color:#f4f4f4;}
.head_top .head_movil .busqueda_min{width:30px;height:30px;text-align:center;background-color:#60ccc4;cursor:pointer;}
.head_top .head_movil .busqueda_min span{margin-top:7px}
.head_top .head_movil .mini_user .foto_user{width:30px;height:30px;display:inline-block;}
.head_top .head_movil .mini_user .foto_user img{width:100%}
.head_top .head_movil .mini_user span{font-weight:bold}
.head_top .head_movil .text-top{font-weight:bold;display:inline-block;margin-top:5px}
h1,h2,h3,h4,h5,h6{font-family:'Pathway Gothic One',sans-serif;text-transform:uppercase}
.icono_loved{position:relative;font-family:'Pathway Gothic One',sans-serif;top:5px;right:10px;}
.icono_loved .icono{cursor:pointer;}
.icono_loved .icono:hover{color:#60ccc4}
.icono_loved .icono.checkin{color:#60ccc4}
.icono_loved .favoritos .cartelicono{width:200px;right:5px}
#linea_addcart{font-family:'Pathway Gothic One',sans-serif;}
#linea_addcart .imagen img{width:100%}
#linea_addcart .botones{overflow:hidden;}
#linea_addcart .botones .btn{width:100%}
#lineas_carro{border-bottom:2px solid #f4f4f4;}
#lineas_carro .linea{border-bottom:1px solid #e4e4e4;margin:10px 0;padding-bottom:10px;font-family:'Pathway Gothic One',sans-serif;}
#lineas_carro .linea label{font-weight:normal;margin-right:10px}
#lineas_carro .linea .linea_cantidad{background-color:#f4f4f4;padding:8px 20px;}
#lineas_carro .linea .linea_cantidad .cantidad{background-color:#fff;border:1px solid #ddd;padding:4px 15px}
#lineas_carro .linea .linea_cantidad .cant{cursor:pointer}
#lineas_carro .linea .linea_detalles .nombre{text-transform:uppercase}
#lineas_carro .linea .linea_imagen img{width:100%}
.login-box{background-color:#fff;margin:0 0 2em;border:1px solid #f4f4f4;}
.login-box .subtitulo{border-bottom:1px solid #f4f4f4;font-size:1em;margin:0;padding:.9em}
.login-box .login-content{padding:1em;}
.login-box .login-content label{font-weight:normal}
.menu{font-family:'Pathway Gothic One',sans-serif;text-transform:uppercase;padding:0;margin:0;}
.menu li{list-style:none}
.menu_movil{font-family:'Pathway Gothic One',sans-serif;text-transform:uppercase;position:absolute;top:20px;left:10px;}
.menu_movil .btn{padding:4px 8px;}
.menu_movil .btn:hover,.menu_movil .btn:active{background-color:#fff}
#mini_carro{position:absolute;top:30px;right:30px;font-family:'Pathway Gothic One',sans-serif;}
#mini_carro a:hover{text-decoration:none;opacity:.8}
#mini_carro .total{display:none}
#mini_carro .icono{font-size:1.5em;color:#333}
#mini_carro .numero{position:absolute;top:-10px;right:-20px;color:#fff;display:inline-block;width:20px;text-align:center;background-color:#333;border-radius:10px}
.main-bottom{background:#fafafa;text-align:center;padding:3em 0 4em;}
.main-bottom .newsletter{text-transform:uppercase;font-family:'Pathway Gothic One',sans-serif;}
.main-bottom .newsletter .borde-newsletter{width:300px;margin:0 auto;border:3px solid #333;background:#fff;}
.main-bottom .newsletter .borde-newsletter .caja_text{display:inline-block;width:250px;font-size:1.2em}
.main-bottom .newsletter .borde-newsletter input{border:none;outline:none;width:90%}
.main-bottom .newsletter .borde-newsletter .iconos-newsletter{display:inline-block;width:40px;padding:5px;border-left:3px solid #333}
#navegador{position:relative;transition-property:top,box-shadow;transition-duration:1s;transition-timing-function:linear;border-bottom:1px solid #f4f4f4;}
#navegador.menu-fijo{box-shadow:0 0 8px 0 rgba(0,0,0,0.4);position:fixed;top:0;width:100%;background:#fff;z-index:2}
#navegador .logo{text-align:center;}
#navegador .logo h1{font-size:30px;font-family:'Great Vibes',cursive;text-transform:capitalize}
#navegador .logo a:hover,#navegador .logo a:visited,#navegador .logo a:link,#navegador .logo a:active{text-decoration:none}
#navegador .main_menu{display:none;}
#navegador .main_menu .navegador{text-align:center;}
#navegador .main_menu .navegador li{border-bottom:1px dotted #ddd;}
#navegador .main_menu .navegador li a{display:inline-block;width:100%;padding:5px 25px}
p.bg-warning{border-color:#faebcc;color:#8a6d3b;padding:10px 20px}
#pagar{margin:0 15px;}
#pagar .linea_progrecion{margin-bottom:10px;}
#pagar .linea_progrecion .paso{opacity:.2;}
#pagar .linea_progrecion .paso .paso_number{background-color:#111;border-radius:20px;color:#fff;display:inline-block;text-align:center;width:40px;height:40px;border:8px double #fff;line-height:25px}
#pagar .linea_progrecion .paso .paso_text{font-family:'Pathway Gothic One',sans-serif}
#pagar .linea_progrecion .paso.actual{opacity:1}
#pagar .caja_pagar fieldset{padding:20px 0;}
#pagar .caja_pagar fieldset legend{font-size:1.8em;position:relative;}
#pagar .caja_pagar fieldset legend span{position:absolute;bottom:0;right:0;font-size:.6em;text-transform:capitalize}
#producto_galeria_destok{display:none}
#producto_galeria_movil .item img{width:100%}
.productos .producto{position:relative;text-align:center;border:1px solid #fff;}
.productos .producto:hover{border:1px solid #f4f4f4;}
.productos .producto:hover .estrellas{opacity:1}
.productos .producto:hover .nombre_producto{text-decoration:underline}
.productos .producto a:hover{text-decoration:none}
.productos .producto img{width:100%}
.productos .producto .nombre_producto{font-family:'Pathway Gothic One',sans-serif;}
.productos .producto .nombre_producto .estilo{text-transform:uppercase}
.productos .producto .precios{font-family:'Pathway Gothic One',sans-serif;}
.productos .producto .precios .en_oferta{color:#f7727a}
.productos .producto .precios .old_precio{font-size:.8em;margin:0 10px}
.productos .producto .estrellas{opacity:0;margin:10px 0}
#producto_single{margin-top:20px;}
#producto_single .categoria{border-left:1px solid #f4f4f4;border-right:1px solid #f4f4f4;padding:0 15px}
#producto_single .colores a{display:inline-block;width:100px}
#producto_single .estilo{padding:0 15px}
#producto_single .formulario_producto{width:80%;margin:10px auto;text-align:center;}
#producto_single .formulario_producto .talla_form{position:relative;}
#producto_single .formulario_producto .talla_form .texto_ayuda{display:none;position:absolute;left:-110px;width:100px;border:3px solid #ddd;font-family:'Pathway Gothic One',sans-serif;box-shadow:0 0 8px rgba(0,0,0,0.5)}
#producto_single .formulario_producto button{width:100%;margin:10px 0}
#producto_single #galerias .nav li{font-family:'Pathway Gothic One',sans-serif;}
#producto_single #galerias .nav li .icono{margin:0 10px}
#producto_single h1.titulo{font-family:'Pathway Gothic One',sans-serif;font-size:30px;text-align:left}
#producto_single h3.subtitulo{font-family:'Pathway Gothic One',sans-serif;text-decoration:underline;font-style:normal;font-size:1.8em}
#producto_single h4.subtitulo{font-size:1.1em;text-align:center}
#producto_single img{width:100%}
#producto_single label{text-transform:uppercase;font-family:'Pathway Gothic One',sans-serif;letter-spacing:1px}
#producto_single .precios_single{font-family:'Pathway Gothic One',sans-serif;}
#producto_single .precios_single .precio{font-size:1.5em;margin:0 10px}
#producto_single .precios_single .variacion{display:none}
#producto_single #producto_galeria{padding-top:5px}
#producto_single #producto_video{padding-top:5px;text-align:center;display:none}
#producto_single .text-uppercase{font-family:'Pathway Gothic One',sans-serif}
#producto_single .titulo{margin:5px 0}
#producto_single .reviews{margin:3px 0;}
#producto_single .reviews .estrellas{float:left;margin:0 15px 0 0}
#producto_single .reviews .escribe{cursor:pointer;text-transform:uppercase;font-family:'Pathway Gothic One',sans-serif}
#producto_single .reviews .estrellas,#producto_single .reviews .puntuacion,#producto_single .reviews .numero{margin:0 5px}
#producto_single .reviews .puntuacion{font-weight:bold;text-decoration:underline}
#producto_single .seccion_producto{border-top:1px solid #f4f4f4;padding:5px 0}
#producto_single .seccion_2_producto{padding-top:2em;padding-bottom:2em;margin-top:2em}
.refinamiento{display:none}
.refinamiento-nav .btn{border-color:#111;font-family:'Pathway Gothic One',sans-serif;text-transform:uppercase;}
.refinamiento-nav .btn:hover{background-color:#fff;opacity:.7;border-color:#ddd}
#resumen_orden{margin-top:50px;}
#resumen_orden h3{margin:0;padding:.7em;background-color:#111;color:#fff;font-size:1.1em;position:relative;letter-spacing:1px;}
#resumen_orden h3 span{position:absolute;right:1em;top:1em;font-size:.8em}
#resumen_orden img{width:100%}
#resumen_orden label{font-weight:normal}
#resumen_orden .detalles{font-size:.9em;padding-top:1em}
#resumen_orden .linea_resumen{border-bottom:1px solid #f4f4f4;border-left:1px solid #f4f4f4;border-right:1px solid #f4f4f4;overflow:hidden}
#slider_home img{width:100%}
