f_imprenta ='Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;


rojito = #F7727A
aguamarina = #60CCC4

body
	font-family: 'Josefin Sans', sans-serif;
	font-size 16px
	a
		color #111
		text-decoration none
		&:hover
			text-decoration underline
			color #111
		&:visited,&:link,&:active
			color #111
	.contenedor
		margin 0 auto		
		max-width 1100px
	.contraste_suave
		background-color #333
		color white
	.enlinea
		display inline-block
	img
		width 100%
	.left
		float left
	.right
		float right
	.font_imp
		font-family f_imprenta
		letter-spacing 1px
	.overflow
		overflow hidden
#bloque_top
	overflow hidden
	p
		margin 5px 0
.breadcrumb
	background-color #f9f9f9
.carrusel
	margin 20px 0
	.titulo_slider
		position relative
		padding 20px
		h3
			margin 0
			text-transform uppercase
			text-align center
			font-family serif
			border-bottom 1px solid #ccc
			padding 0 0 5px
		p
			color #999
			font-size 0.8em
			margin 10px 3px 
		.esquina
			border 1px solid #111
			position absolute
			width 20px
			height 20px
			&.top
				top 0
				border-bottom none
			&.bottom
				bottom 0
				border-top none
			&.izq
				left 0
				border-right none
			&.der
				right 0
				border-left none
footer
	background-color #111
	color white
	padding 30px 0 0 0
	a:link,a
		color white!important
	#bloques_footer
		.footer_menu_bottom
			.block_footer
				.menu_titulo
					font-family f_imprenta
.icono_loved
	position relative
	font-family f_imprenta
	top 5px
	right 10px
	.icono
		cursor pointer
		&:hover
			color aguamarina
		&.checkin
			color aguamarina
	.favoritos
		.cartelicono
			width 200px
			right 5px
#envoltura
	min-height 400px
.favoritos
	.cartel_flotante
		font-size 1.2em
		position absolute
		background-color #ECECEC
		border-top 3px solid #111
		box-shadow 0px 2px 4px rgba(0,0,0,0.5)
		display none
#producto_galeria_destok
	display none
#producto_galeria_movil
	.item
		img
			width 100%
.productos
	overflow hidden
	.producto
		position relative
		text-align center
		border 1px solid #fff
		&:hover
			.estrellas
				opacity 1
			.nombre_producto
				text-decoration underline
		a:hover
			text-decoration none
		img
			width 100%
		.nombre_producto
			font-family f_imprenta
			.estilo
				text-transform uppercase
		.precios
			font-family f_imprenta
			.en_oferta
				color #F7727A
			.old_precio
				font-size 0.8em
				margin 0 10px
		.estrellas
			opacity 0
			margin 10px 0
.producto_single
	margin-top 20px
	.categoria
		border-left 1px solid #f4f4f4
		border-right 1px solid #f4f4f4
		padding 0 15px
	.colores
		a
			display inline-block
			width 100px
	#comentarios
		position relative
		padding 20px 0
		.btn
			&.add_coment
				position absolute
				right 0
				top -42px
	.estilo
		padding 0 15px
	.formulario_producto
		width 80%
		margin 10px auto
		text-align center
		.talla_form
			position relative
			.texto_ayuda
				display none
				position: absolute;
				left: -110px;
				width: 100px;
				border: 3px solid #ddd;
				font-family: f_imprenta
				box-shadow: 0px 0px 8px rgba(0,0,0,0.5);						
		button
			width 100%
			margin 10px 0
	#galerias
		.nav
			li
				font-family f_imprenta
				.icono
					margin 0 10px
	h1.titulo
		font-family f_imprenta
		font-size 30px
		text-align left
	h3.subtitulo
		font-family f_imprenta
		text-decoration underline
		font-style normal
		font-size 1.8em
	h4.subtitulo
		font-size 1.1em
		text-align center
	img
		width 100%
	label
		text-transform uppercase
		font-family f_imprenta
		letter-spacing 1px
	.precios_single
		font-family f_imprenta
		.precio
			font-size 1.5em		
			margin 0 10px
		.variacion
			display none
	#producto_galeria
		padding-top 5px
	#producto_video
		padding-top 5px
		text-align center
		display none
	.text-uppercase
		font-family f_imprenta		
	.titulo
		margin 5px 0
	.reviews
		margin 3px 0
		.estrellas
			float left
			margin 0 15px 0 0
		.escribe
			cursor pointer
			text-transform uppercase
			font-family f_imprenta
		.estrellas,.puntuacion,.numero
			margin 0 5px
		.puntuacion
			font-weight bold
			text-decoration underline
	.seccion_producto
		border-top 1px solid #f4f4f4
		padding 5px 0
	.sin_comentarios
		padding 10px 0
		.texto-solo
			font-family f_imprenta
			text-decoration underline
			text-transform uppercase
			cursor pointer
	.seccion_2_producto
		padding-top 2em
		padding-bottom 2em
		margin-top 2em
.productos
	overflow hidden
	.producto
		position relative
		text-align center
		border 1px solid #fff
		&:hover
			border 1px solid #f4f4f4
			.estrellas
				opacity 1
			.nombre_producto
				text-decoration underline
		a:hover
			text-decoration none
		img
			width 100%
		.nombre_producto
			font-family f_imprenta
			.estilo
				text-transform uppercase
		.precios
			font-family f_imprenta
			.en_oferta
				color #F7727A
			.old_precio
				font-size 0.8em
				margin 0 10px
		.estrellas
			opacity 0
			margin 10px 0
#navegador_main
	overflow hidden
	border-bottom 1px solid #f4f4f4
	.logo
		font-family f_cusrsiva
		margin-right 30px
		.img_logo
			width 48px
			overflow hidden
			img
				width 120px
		h1
			margin 12px 2px
	.menu-main
		li
			a
				padding 10px 20px
				display inline-block
				text-transform uppercase
#navegador_top
	border-bottom 1px solid #f4f4f4
	overflow hidden

ul.menu
	list-style none
	padding 0
	margin 0
	font-family f_imprenta
	&.menu-enlinea
		li
			padding 7px 10px			
			display inline-block