f_imprenta ='Pathway Gothic One', sans-serif;
f_cusrsiva = 'Great Vibes', cursive;


rojito = #F7727A
aguamarina = #60CCC4

body
	font-family: 'Josefin Sans', sans-serif;
	font-size 16px
	a
		color #111
		text-decoration none
		&:hover
			text-decoration underline
			color #111
		&:visited,&:link,&:active
			color #111
	.contenedor
		margin 0 auto		
		max-width 420px
	.enlinea
		display inline-block
	.invisible
		display none
	.titulo
		font-family f_imprenta
		text-transform uppercase
		text-align center
		font-size 36px
	.text_imprenta
		font-family f_imprenta
		text-transform uppercase
	.visible
		display block!important
	
#breadcrumb
	background-color #fff
	text-transform uppercase
.btn
	border-radius 0
	transition all 0.2s ease-out
	outline none
	padding 10px 10px
	font-family f_imprenta
	&.contraste1
		text-transform uppercase		
		background-color #111
		color #fff
		font-size 1.2em
		position relative
		.icon-angle-right
			position absolute
			top 13px
			right 40px
			display none
		&:hover
			background-color #468847
			border-color #3d773e
			color #fff
			.icon-angle-right
				display block
				right 45px
	&.contraste2
		text-transform uppercase
		color #111
	&.justi
		width 100%
.cartel_flotante
	font-size 1.2em
	position absolute
	background-color #ECECEC
	border-top 3px solid #111
	box-shadow 0px 2px 4px rgba(0,0,0,0.5)
	display none
#catalogo
	margin-bottom 20px
	.refinamiento-nav
		margin 20px 0
		.btn
			width 100%
#caja_ajax
	position fixed
	z-index 1000
	background-color #fff
	width 100%
	height 100%
	opacity 0.8
	display none
	img
		position absolute
		top 40%
		left 40%
#carro
	.carro_action
		.btn
			margin 10px 0
			width 100%
	.row
		margin 0
footer
	background #111
	color #fff
	padding-top 4em
	.block_footer
		h3.menu_titulo
			font-family f_imprenta
			text-transform uppercase
			font-size 1.35em
			padding 5px 0px
			border-bottom 1px solid #333
			cursor pointer
			position relative
			.icono-menu
				position absolute
				top 8px
				right 20px
		.menu
			display none
			text-transform capitalize
			padding 0
			li
				margin 5px 0
				a
					color #fff
					&:hover
						color #fff
						text-decoration underline
.form-control
	border-radius 0
.form-group
	.text-danger
		display none
	&.has-error
		.text-danger
			display block
.head_top
	.head_top_left,.head_top_right
		display none
	.head_movil
		border-bottom 2px solid #111
		overflow hidden
		background-color #f4f4f4
		.busqueda_min
			width 30px
			height 30px
			text-align center
			background-color aguamarina
			cursor pointer
			span
				margin-top 7px
		.mini_user
			.foto_user
				width 30px
				height 30px
				display inline-block
				img
					width 100%
			span
				font-weight bold
		.text-top
			font-weight bold
			display inline-block
			margin-top 5px
h1,h2,h3,h4,h5,h6
	font-family f_imprenta
	text-transform uppercase
.icono_loved
	position relative
	font-family f_imprenta
	top 5px
	right 10px
	.icono
		cursor pointer
		&:hover
			color aguamarina
		&.checkin
			color aguamarina
	.favoritos
		.cartelicono
			width 200px
			right 5px
#linea_addcart
	font-family f_imprenta
	.imagen
		img
			width 100%
	.botones
		overflow hidden
		.btn
			width 100%
#lineas_carro
	border-bottom 2px solid #f4f4f4
	.linea
		border-bottom 1px solid #E4E4E4
		margin 10px 0
		padding-bottom 10px
		font-family f_imprenta		
		label
			font-weight normal
			margin-right 10px
		.linea_cantidad
			background-color #f4f4f4
			padding 8px 20px
			.cantidad
				background-color #fff
				border 1px solid #ddd
				padding 4px 15px
			.cant
				cursor pointer
		.linea_detalles
			.nombre
				text-transform uppercase
		.linea_imagen
			img
				width 100%
.login-box
	background-color #fff
	margin 0 0 2em
	border 1px solid #f4f4f4
	.subtitulo
		border-bottom 1px solid #f4f4f4
		font-size 1em
		margin 0
		padding 0.9em
	.login-content
		padding 1em
		label
			font-weight normal
		
.menu
	font-family f_imprenta
	text-transform uppercase
	padding 0
	margin 0
	li
		list-style none
.menu_movil
	font-family f_imprenta
	text-transform uppercase
	position absolute
	top 20px
	left 10px
	.btn
		padding 4px 8px
		&:hover,&:active
			background-color #fff
#mini_carro
	position absolute
	top 30px
	right 30px
	font-family f_imprenta
	a:hover
		text-decoration none
		opacity 0.8
	.total
		display none
	.icono
		font-size 1.5em
		color #333
	.numero
		position absolute
		top -10px
		right -20px
		color #fff
		display inline-block
		width 20px
		text-align center
		background-color #333
		border-radius 10px
.main-bottom
	background #fafafa
	text-align center
	padding 3em 0 4em
	.newsletter
		text-transform uppercase
		font-family f_imprenta
		.borde-newsletter
			width 300px
			margin 0 auto
			border 3px solid #333
			background #fff
			.caja_text
				display inline-block
				width 250px
				font-size 1.2em
			input
				border none
				outline none
				width 90%
			.iconos-newsletter
				display inline-block
				width 40px
				padding 5px 
				border-left 3px solid #333
#navegador
	position relative
	transition-property top, box-shadow
	transition-duration: 1s
	transition-timing-function : linear
	border-bottom 1px solid #f4f4f4
	&.menu-fijo
		box-shadow 0px 0px 8px 0px rgba(0,0,0,0.4)
		position fixed
		top 0
		width 100%
		background #fff
		z-index 2
	.logo
		text-align center
		h1
			font-size 30px
			font-family f_cusrsiva
			text-transform capitalize
		a
			&:hover,&:visited,&:link,&:active
				text-decoration none
			
	.main_menu
		display none
		.navegador
			text-align center
			li
				border-bottom 1px dotted #ddd
				a
					display inline-block
					width 100%
					padding 5px 25px
p
	&.bg-warning
		border-color #faebcc
		color #8a6d3b
		padding 10px 20px
#pagar
	margin 0 15px
	.linea_progrecion
		margin-bottom 10px
		.paso
			opacity 0.2
			.paso_number
				background-color #111
				border-radius 20px
				color #fff
				display inline-block
				text-align center
				width 40px
				height 40px
				border 8px double #fff
				line-height 25px
			.paso_text
				font-family f_imprenta
			&.actual
				opacity 1
	.caja_pagar
		fieldset
			padding 20px 0
			legend
				font-size 1.8em
				position relative
				span
					position absolute
					bottom 0
					right 0
					font-size 0.6em
					text-transform capitalize
#producto_galeria_destok
	display none
#producto_galeria_movil
	.item
		img
			width 100%
.productos
	.producto
		position relative
		text-align center
		border 1px solid #fff
		&:hover
			border 1px solid #f4f4f4
			.estrellas
				opacity 1
			.nombre_producto
				text-decoration underline
		a:hover
			text-decoration none
		img
			width 100%
		.nombre_producto
			font-family f_imprenta
			.estilo
				text-transform uppercase
		.precios
			font-family f_imprenta
			.en_oferta
				color #F7727A
			.old_precio
				font-size 0.8em
				margin 0 10px
		.estrellas
			opacity 0
			margin 10px 0
#producto_single
	margin-top 20px
	.categoria
		border-left 1px solid #f4f4f4
		border-right 1px solid #f4f4f4
		padding 0 15px
	.colores
		a
			display inline-block
			width 100px
	.estilo
		padding 0 15px
	.formulario_producto
		width 80%
		margin 10px auto
		text-align center
		.talla_form
			position relative
			.texto_ayuda
				display none
				position: absolute;
				left: -110px;
				width: 100px;
				border: 3px solid #ddd;
				font-family: f_imprenta
				box-shadow: 0px 0px 8px rgba(0,0,0,0.5);						
		button
			width 100%
			margin 10px 0
	#galerias
		.nav
			li
				font-family f_imprenta
				.icono
					margin 0 10px
	h1.titulo
		font-family f_imprenta
		font-size 30px
		text-align left
	h3.subtitulo
		font-family f_imprenta
		text-decoration underline
		font-style normal
		font-size 1.8em
	h4.subtitulo
		font-size 1.1em
		text-align center
	img
		width 100%
	label
		text-transform uppercase
		font-family f_imprenta
		letter-spacing 1px
	.precios_single
		font-family f_imprenta
		.precio
			font-size 1.5em		
			margin 0 10px
		.variacion
			display none
	#producto_galeria
		padding-top 5px
	#producto_video
		padding-top 5px
		text-align center
		display none
	.text-uppercase
		font-family f_imprenta		
	.titulo
		margin 5px 0
	.reviews
		margin 3px 0
		.estrellas
			float left
			margin 0 15px 0 0
		.escribe
			cursor pointer
			text-transform uppercase
			font-family f_imprenta
		.estrellas,.puntuacion,.numero
			margin 0 5px
		.puntuacion
			font-weight bold
			text-decoration underline
	.seccion_producto
		border-top 1px solid #f4f4f4
		padding 5px 0
	
	.seccion_2_producto
		padding-top 2em
		padding-bottom 2em
		margin-top 2em
.refinamiento
	display none
.refinamiento-nav
	.btn
		border-color #111
		font-family f_imprenta
		text-transform uppercase
		&:hover
			background-color #fff
			opacity 0.7
			border-color #ddd
#resumen_orden
	margin-top 50px
	h3
		margin 0
		padding 0.7em
		background-color #111
		color #fff
		font-size 1.1em
		position relative
		letter-spacing 1px
		span
			position absolute
			right 1em
			top 1em
			font-size 0.8em
	img
		width 100%
	label
		font-weight normal
	.detalles
		font-size 0.9em
		padding-top 1em
	.linea_resumen
		border-bottom 1px solid #f4f4f4
		border-left 1px solid #f4f4f4
		border-right 1px solid #f4f4f4
		overflow hidden
		
#slider_home
	img
		width 100%
