{% verbatim %}	
	<script id="catalogo_template" type="text/template">
    <h1 class="page-header">Catalogo</h1>
    <h2 class="sub-header">Lista de productos</h2>
    <div class="productos-listas table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>
              <input type="checkbox">
            </th>
            <th>ID</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Full Nombre</th>
            <th>Color</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="lista_productos">
        </tbody>
      </table>
    </div>
  </script>

  <script id="producto_lista_template" type="text/template">
      <td>
        <input type="checkbox">
      </td>
      <td>
        <strong>{{id}}</strong>        
      </td>
      <td>
        <div class="img">
          <img src="{{thum}}" width="100" alt="">          
        </div>
      </td>
      <td>
        <p>{{nombre}}</p>
      </td>
      <td>
        <p>{{full_name}}</p>        
      </td>
      <td>
        {{color}}
      </td>
      <td>
        <p>
        {%if activo %}
          <span class="glyphicon glyphicon-ok"></span>
        {%else%}
          <span class="glyphicon glyphicon-remove"></span>        
        {%endif%}
        </p>        
      </td>
      <td>
        <a class="btn btn-default" href="#" role="button">Ver</a>
        <a class="btn btn-default" href="#" role="button">Editar</a>
        <a class="btn btn-default" href="#" role="button">Eliminar</a>
      </td>
  </script>
{% endverbatim %}