{% verbatim %}	
	<script id="formulario_producto_template" type="text/template">
  	<div class="panel panel-default">
      <div class="panel-heading">
      	<div class="row">
      		<div class="col-md-10">
      			<h2>Formulario de Producto</h2>      			
      		</div>
      		<div class="col-md-2">
      			<div class="acciones pull-rigth">
		      		<button type="button" class="btn btn-primary grabar_producto">Grabar</button>
		      	</div>
      		</div>
      	</div>
      </div>
      <div class="panel-body">
      	<form>
      		<div class="row">
      			<div class="form-group col-md-12">
      				<label for="nombre_producto">Nombre Del Producto:</label>
      				<input type="text" id="nombre_producto" class="form-control" placeholder="nombre del producto">
      			</div>
      			<div class="form-group col-md-6">
      				<label for="">Marcar:</label>
      				<select class="form-control">
      					<option value="">Loviz DelCarpio</option>
      				</select>      				
      			</div>
      		</div>
      		<div id="formulario_imagenes">
      		</div>
      	</form>      	
      </div>
    </div>
  </script>
{% endverbatim %}