{% verbatim %}	
	<script id="formulario_producto_template" type="text/template">
  	<div class="panel panel-default">
      <div class="panel-heading">
      	<div class="row">
      		<div class="col-md-10">
      			<h2>Formulario de Producto</h2>      			
      		</div>
      		<div class="col-md-2">
      			<div class="acciones pull-rigth">
		      		<button type="button" class="btn btn-primary grabar_producto">Grabar</button>
		      	</div>
      		</div>
      	</div>
      </div>
      <div class="panel-body">
      	<form>
      		<div class="row">
      			<div class="form-group col-md-12">
      				<label for="nombre_producto">Nombre Del Producto:</label>
      				<input type="text" id="nombre_producto" class="form-control" placeholder="nombre del producto">
      			</div>
            <div class="form-group col-md-6">
              <label for="">Color:</label> 
              <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#add_color_formulario">
                <span class="glyphicon glyphicon-plus add_color"></span>Add
              </button>
              <div id="colores_formulario">                
              </div>             
            </div>
      			<div class="form-group col-md-6">
      				<label for="">Marcar:</label>
      				<select class="form-control">
      					<option value="">Loviz DelCarpio</option>
      				</select>      				
      			</div>
      		</div>
      		<div id="formulario_imagenes">
      		</div>
      	</form>      	
      </div>
    </div>
    <div class="modal fade" id="add_color_formulario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Crear un nuevo Color</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
  </script>

  <script id="formu_select_template" type="text/template">
    <option value="{{valor}}">{{nombre}}</option>
  </script>
{% endverbatim %}