{% verbatim %}	
<script id="mini_carro_template" type="text/template">
	<a class="link" href="/carro/">
		{%if total > 0 %}
		<span class="total">S/.{{total}}</span>
		{%endif%}
		<span class="icono icon-cart4"></span>
		<span class="numero">{{lineas}}</span>
	</a>
</script>

<script id="carro_template" type="text/template">
	<div class="contenedor">
		<div class="container-fluid">
			<div class="row">
				<h2 class="titulo">Su Carrito de Compras</h2>
				<div class="carro_action">
					<button class="btn contraste1 btn-default">
						Pagar
						<span class="icono icon-angle-right"></span>
					</button>
				</div>
				<div id="lineas_carro">					
				</div>
				<table id="carro_detalle" class="table">
					<tbody>
						<tr>
							<td>SubTotal:</td>
							<td>S/.{{total}}</td>
						</tr>
						<tr>
							<td>Gasto de Envio:</td>
							<td>S/. 0.00</td>
						</tr>
						<tr>
							<td>Total:</td>
							<td>S/.{{total}}</td>
						</tr>
					</tbody>
				</table>
				<div class="carro_action">
					<button class="btn contraste1 btn-default">
						<span class="icono icon-angle-right"></span>
						Pagar
					</button>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="carro_vacio_template" type="text/template">
	<div class="contenedor text-center">
		<h2 class="titulo">Su carrito de compras esta Vacio</h2>
		<p>0 Articulos en su carro <span class="icon-cart3"></span></p>	
	</div>	
</script>

<script id="lineas_carro_template1" type="text/template">
	<td>
		<img src="{{thum}}" alt="{{full_name}}">
	</td>
	<td>
		{{full_name}}
	</td>
	<td>
		In Stock
	</td>
	<td>
		S/.{{precio}}
	</td>
	<td>
		{{cantidad}}
	</td>
	<td>
		S/.{{subtotal}}
	</td>
</script>

<script id="lineas_carro_template" type="text/template">
	<div class="linea_imagen">
		<img src="{{thum}}" alt="{{full_name}}">
	</div>
	<div class="linea_detalles">
		<div class="nombre">{{full_name}}</div>
		<div class="color">Color: {{color}}</div>
		<div class="talla">Talla: {{talla}}</div>
	</div>
	<div class="linea_precio">
		<label for="">Precio:</label>
		S/.{{precio}}
	</div>
	<div class="linea_cantidad">
		<label for="">Cantidad:</label>
		<span class="mas_produ cant">
			<span class="icon-arrow-up2 icono"></span>
		</span>
		<span class="cantidad">{{cantidad}}</span>
		<span class="menos_produ cant">
			<span class="icon-arrow-down2 icono"></span>			
		</span>
	</div>
	<div class="linea_subtotal">
		<label for="">Total:</label>
		S/.{{subtotal}}
	</div>
</script>
{% endverbatim %}