{% verbatim %}	

	<script id="catalogo_template" type="text/template">
		<div class="catalogo">
			<figure id="banner-categoria">
			</figure>
			<ol id="breadcrumb" class="breadcrumb">
			</ol>
			<nav class="refinamiento-nav">
				<div class="container">
					<button class="btn btn-default">
						Refinar por
						<span class="icono icon-uniE615"></span>
					</button>
				</div>
			</nav>
			<div id="primario" class="contenido-primario">
				<div id="secundario" class="refinamientos js-off-canvas">
					<aside class="js-panel from-right">
						<div class="header-aside">
							<h2 class="titulo_refine">Refina tu busqueda por:</h2>
							<button class="js-panel-close-btn">
								<span class="glyphicon glyphicon-remove"></span>								
							</button>
						</div>
						<div class="refinamiento categorias">							
						</div>
						<div class="clear_refinamiento">
							<button class="btn btn-default">
								Limpiar Todos los Filtros
							</button>
						</div>
						<div class="refinamiento precios">
							<h3 class="toggle">
								Precio
							</h3>
							<ul>
								<li><a href="">Menos de S/.15.00</a></li>
								<li><a href="">De S/.15.00 a S./20.00</a></li>
								<li><a href="">De S/.20.00 a S./25.00</a></li>
								<li><a href="">De S/.30.00 a S./35.00</a></li>
								<li><a href="">De S/.35.00 a S./40.00</a></li>
								<li><a href="">Mayor de S/.40.00</a></li>
							</ul>
						</div>
						<div class="refinamiento colores">
							<h3>Color</h3>
							<ul class='lista'></ul>
						</div>
					</aside>
				</div>
				<div class="busqueda-resultado">
					<div class="titulo-categoria text-center">
						<h1 class="titulo">
							{%if categoria%}
							{{categoria}} de 
							{%endif%}
							{{genero}}
							{%if estilo%}
							<small>--{{estilo}}--</small>
							{%endif%}
						</h1>
					</div>
					<div class="productos"></div>
				</div>
			</div>
		</div>		
	</script>

	<script id="bloque_refinamiento_template" type="text/template">
		<h3 class="titulo">{{nombre}}</h3>
		<ul class="links"></ul>
	</script>

	<script id="link_categoria_template" type="text/template">
		<a class="link" href="/catalogo/{{slug}}/">{{nombre}}</a>
	</script>

	<script id="link_refinamiento_template" type="text/template">
		<a class="link_refinamiento" href="" data-tipo="{{tipo}}" data-valor="{{nombre}}">{{nombre}}</a>
	</script>

	<script id="producto_lista_template" type="text/template">
			<a class="link" href="/producto/{{slug}}/">
				<figure>
					<img src="{{thum}}" alt="{{full_name}} {{marca}}">
				</figure>
				<div class="nombre_producto">

	                <div class="estilo">
	                	{%for cate in categorias%}
							{%if cate.seccion =='categoria'%}
								{{cate.nombre}}
							{%endif%}							
						{%endfor%}
						-
						{%for cate in categorias%}         
							{%if cate.seccion =='estilo'%}
								{{cate.nombre}}
							{%endif%}
						{%endfor%}
	                </div>
	                <div class="nombre">{{nombre}} ({{color}})</div>
	            </div>
	            <div class="precios">
	                {%if en_oferta %}
	                <span class="old_precio"><s>S/. {{precio}}</s></span>
	                {%endif%}
	                <span class="precio {%if en_oferta%}en_oferta{% endif %}">S/. {{precio_venta}}</span>
	            </div>
	        </a>
	        <div class="estrellas">
	        </div>
      </script>

      <script id="estrellas_template" type="text/template">
      		<span data-valor="1" class="glyphicon "></span>
	        <span data-valor="2" class="glyphicon "></span>
	        <span data-valor="3" class="glyphicon "></span>
	        <span data-valor="4" class="glyphicon "></span>
	        <span data-valor="5" class="glyphicon "></span>
      </script>
{% endverbatim %}