{% verbatim %}	
	<script id="catalogo_template" type="text/template">
		<figure id="banner-categoria">
		</figure>
		<ol id="breadcrumb" class="breadcrumb">
		</ol>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<aside class="refinamiento">
						<div id="categorias" class="">							
						</div>
					</aside>
				</div>
				<div class="col-md-9">
					<div class="refinamiento-nav">
						<button class="btn btn-default contraste2">
							Refinar por
							<span class="icono icon-uniE615"></span>
						</button>
					</div>
					<div class="productos"></div>
				</div>
			</div>
		</div>
	</script>

	<script id="bloque_refinamiento_template" type="text/template">
		<h3 class="titulo">{{nombre}}</h3>
		<ul class="links"></ul>
	</script>

	<script id="link_refinamiento_template" type="text/template">
		<a href="/catalogo/{{slug}}/">{{nombre}}</a>
	</script>

	<script id="producto_lista_template" type="text/template">
			<div class="icono_loved pull-right"></div>
			<a class="link" href="/producto/{{slug}}/">
				<figure>
					<img src="{{thum}}" alt="{{full_name}} {{marca}}">
				</figure>
				<div class="nombre_producto">
	                <div class="estilo">{{cate}} - {{estilo}}</div>
	                <div class="nombre">{{nombre}} ({{color}})</div>
	            </div>
	            <div class="precios">
	                {%if en_oferta %}
	                <span class="old_precio"><s>S/. {{precio}}</s></span>
	                {%endif%}
	                <span class="precio {%if en_oferta%}en_oferta{% endif %}">S/. {{precio_venta}}</span>
	            </div>
	        </a>
	        <div class="estrellas">
	        </div>
      </script>

      <script id="estrellas_template" type="text/template">
      		<span data-valor="1" class="glyphicon "></span>
	        <span data-valor="2" class="glyphicon "></span>
	        <span data-valor="3" class="glyphicon "></span>
	        <span data-valor="4" class="glyphicon "></span>
	        <span data-valor="5" class="glyphicon "></span>
      </script>
{% endverbatim %}