{% verbatim %}	
	<script id="pagar_template" type="text/template">
		<div id="pagar" class="container-fluid">
			<div class="row">
				<h2 class="titulo">Pasarela de Pagos</h2>
				<div class="col-md-8">
					<div class="linea_progrecion">
						<div class="paso enlinea identificar" data-estado="identificar">
							<span class="paso_number">1</span>
							<span class="paso_text">Identificacion</span>
						</div>
						<div class="paso enlinea envio" data-estado="envio">
							<span class="paso_number">2</span>
							<span class="paso_text">Envio</span>
						</div>
						<div class="paso enlinea pagar" data-estado="pagar">
							<span class="paso_number">3</span>
							<span class="paso_text">Pagar</span>
						</div>
					</div>
					<div id="identificar_user_pagar" class="caja_pagar">
					</div>
					<div id="envio_pagar" class="caja_pagar">
					</div>
					<div id="metodo_pago_pagar" class="caja_pagar">	
					</div>				
				</div>
				<div class="col-md-4">
					<div id="resumen_orden_pagar">
						<div class="row">
							<h3>Resumen de Orden <span>Editar Carrito</span></h3>
							<div id="linas_resumen">
							</div>
							<div class="linea_resumen">
								
							</div>														
						</div>
					</div>
				</div>			
			</div>
		</div>
		
	</script>

	<script id="paso_login_template" type="text/template">
		<fieldset>
			<legend>
				Identificarse
				<span>"*"<em>requerido</em></span>
			</legend>
			<div id="nuevo_cliente">
				<div class="login-box login-nueva-cuenta">
					<h3 class="subtitulo">Nuevo Cliente</h3>
					<div class="login-content">
						<p>Al crear una cuenta en <a href="/" class="link">LovizDelCarpio.com</a> tu proceso de compra es más rápido porque tus datos ya están registrados en nuestra tienda, además podrás hacer un seguimiento de tus pedidos y estar informado de las últimas novedades.</p>
						<button class="btn btn-default justi mostrar_registro">Crear Cuenta</button>
						<div class="formulario_nuevo_user">
						</div>
					</div>
				</div>	
			</div>
			<div id="login_social">
				<div class="login-box login-nueva-cuenta">
					<h3 class="subtitulo">Ingresa con Medios Sociales</h3>
					<div class="login-content">
						<p>Si desea puede ingresar a Lovizdelcarpio.com con sus cuentas de:</p>
						<a href="/login/facebook/">Ingresa con Facebook</a>
					</div>
				</div>	
			</div>
			<div id="formulario_ingreso">
				<div class="login-box login-cuenta">
					<h3 class="subtitulo">Clientes Registrados</h3>
					<div class="login-content">
						<p>Si usted tiene una cuenta con nosotros, por favor acceda.</p>
						<div class="formulario_login"></div>
					</div>									
				</div>								
			</div>
			
		</fieldset>	
	</script>

	<script id="paso_envio_template" type="text/template">
		<fieldset>
			<legend>Direccion de Envio
				<span>"*"<em>requerido</em></span>
			</legend>
			<div class="direccion_envio">
				<div class="nueva_direccion">
					<div class="direciones_gravadas form-group">
						<p class="text-danger">Porfavor selecciona una direccion de envio o agrega una</p>
					</div>
					<button class="btn btn-default justi add_direccion">Agregar una direccion <span class="glyphicon glyphicon-plus"></span>
					</button>				
					<div class="nueva_direccion_form"></div>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend>Metodo de Envio
				<span>"*"<em>requerido</em></span>
			</legend>
			<div class="metodo_envio form-group">
				<p class="text-danger">Porfavor selecciona una un metodo de envio</p>
			</div>
		</fieldset>
		<div class="caja_next">
			<h4>¿Que sigue?</h4>
			<p>Este es el paso 2 de 3,en el siguiente paso usted pondra el metodo que desea pagar</p>
			<button class="btn btn-default contraste1 justi">
				Siguiente Paso
				<span class="icono icon-angle-right"></span>
			</button>
		</div>
	</script>

	<script id="metodo_envio_template" type="text/template">
		<label>
			<input type="radio" name="metodo_envio" value='{{id}}' data-gasto='{{precio}}'>{{nombre}}, {{descripcion|safe}}
		</label>
	</script>

	<script id="paso_pagar_template" type="text/template">
		<fieldset>
			<legend>¿Como desea Pagar?</legend>
			<div id="metodo_pago_select">
				<div class="radio">
					<label>
						<input type="radio" name="metodo_pago"> Tarjeta de Credito <span></span>
					</label>
				</div>
				<div class="caja_pago tarjeta">
					<div class="btn contraste1 enviar_pago justi">Pagar Ahora</div>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="metodo_pago"> Paypal <span></span>
					</label>
				</div>
				<div class="caja_pago paypal">
					<div class="btn contraste1 enviar_pago justi">Pagar Ahora</div>					
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="metodo_pago"> PagoEfectivo <span></span>
					</label>
				</div>
				<div class="caja_pago pagoefectivo">
					<div class="btn contraste1 enviar_pago justi">Pagar Ahora</div>					
				</div>				

				<div class="radio">
					<label>
						<input type="radio" name="metodo_pago"> Deposito Bancario <span></span>
					</label>
				</div>	
				<div class="caja_pago deposito">
					<div class="btn contraste1 enviar_pago justi">Pagar Ahora</div>					
				</div>
			</div>						
		</fieldset>
		<div class="btn btn-default justi back">Cambiar tu Direccion o Metodo de envio</div>
	</script>

	<script id="linea_resumen_template" type="text/template">
		<div class="linea_resumen">
			<div class="col-xs-5">
				<img src="{{thum}}" alt="">
			</div>
			<div class="col-xs-7 detalles">
				<div class="nombre"><strong>{{nombre}}</strong></div>
				<div class="color"><label for="">Color:</label>{{color}}</div>
				<div class="talla"><label for="">Talla:</label>{{talla}}</div>
				<div class="cantidad"><label for="">Cantidad:</label>{{cantidad}}</div>
				<div class="precio"><label for="">Precio:</label>S./{{subtotal}}</div>
			</div>	
		</div>
	</script>
{% endverbatim %}