{% verbatim %}	
	    <script id="producto_single_template" type="text/template">
        <div class="container-fluid">
          <div class="row">
            <div id="galerias" class="col-md-7">
              <ul class="nav nav-tabs">
                <li role="presentation" class="active" data-tabs="#producto_galeria">                  
                  <a href="#" ><span class="icono glyphicon glyphicon-picture"></span>Galeria</a>
                </li>
                {%if video%}
                <li role="presentation" data-tabs="#producto_video">
                  <a href="#"><span class="icono glyphicon glyphicon-eye-open"></span>Videos</a>
                </li>
                {%endif%}
              </ul>
              <div id="producto_galeria" class="tabs-seccion">
                <div id="producto_galeria_destok"></div>
                <div id="producto_galeria_movil"></div>
              </div>
              {%if video%}
              <div id="producto_video" class="tabs-seccion">
                <iframe width="640" height="360" src="//www.youtube.com/embed/{{video}}" frameborder="0" allowfullscreen></iframe>
              </div>
              {%endif%}
            </div>
            <div id="datos" class="col-md-5">
              <div class="text_imprenta">{{genero}}</div>
              <h1 class="titulo">{{nombre}} - <i>{{marca}}</i></h1>
              <div class="seccion_producto">
                <div class="precios_single enlinea">
                  {%for varia in variaciones %}
                  <div class="variacion {%if loop.first%}visible{%endif%} {{varia.id}}">
                    {%if varia.oferta > 0 %}
                    <span class="old_precio"><del>S/.{{varia.precio}}</del></span>
                    {%endif%}
                    <span class="precio">S/. {{varia.precio_venta}}</span>
                  </div>
                  {%endfor%}
                </div>
                <div class="categoria enlinea">
                  <label for="">Categoria:</label>
                  <span class="text-uppercase">{{cate}}</span>
                </div>
                <div class="estilo enlinea">
                  <label for="">Estilo:</label>
                  <span class="text-uppercase">
                    {{estilo}}
                  </span>                  
                </div>
              </div>
              <div class="reviews seccion_producto">
                <span class="estrellas"></span>
                <span class="puntuacion">{{valoracion}}</span>
                <span class="numero">({{num_comentarios}})</span>
                <span class="escribe"><a href="#comentarios"></a>Comparte tu Experiencia</span>
              </div>
              <div class="descripcion seccion_producto">
                <label for="">Descripcion</label>
                <p>
                  {{descripcion|striptags}}                  
                </p>
              </div>
              <div class="color_selection seccion_producto">
                <label for="">Color Seleccionado:</label><span class="color">{{color}}</span>
                <div class="colores">
                  <a class="interno" href="#" class="nolink">
                    {%for img in imagenes_producto%}
                      {%if loop.first%}
                        <img src="{{img.imagen_thum}}" alt="">
                      {%endif%}
                    {%endfor%}
                  </a>
                  {%for pariente in parientes%}
                    <a class="link" href="/producto/{{pariente.slug}}/">
                      <img src="{{pariente.thum}}" alt="">
                    </a>
                  {%endfor%}
                  </div>
                </div>
                <form class="formulario_producto">
                  <div class="form_group talla_form">
                    <div class="texto_ayuda left">
                      Porfavor seleccione una talla
                    </div>
                    <select name="talla" id="" class="talla form-control">
                      <option value=''>Selecciona una talla</option>
                      {%for varia in variaciones%}
                        <option value="{{varia.id}}">{{varia.talla}}</option>
                      {%endfor%}
                    </select>
                  </div>
                  <div>
                    <button class="addcart btn btn-default contraste1"><span class="glyphicon glyphicon-shopping-cart"></span> Agregar al Carrito</button>
                  </div>
                </form>
            </div>
            <div class="col-md-9">
              <div class="detalles">
                <h3 class="subtitulo">Informacion del Producto</h3>
                {{detalles}}  
              </div>
              <div class="comentarios">
                <h3 class="subtitulo">Comentarios de usuarios</h3>
                <div id="comentarios"> 
                  <button class="btn btn-default contraste1 add_coment">Escribe un Comentario</button>              
                </div>
                <div class="sin_comentarios">
                  <div class="estrellas">
                  </div>
                  <span class="add_coment texto-solo">Se el primero en escribir un comentario de este producto</span>
                </div>
              </div>              
            </div>
            <div class="relacionados col-md-3">
              <h4 class="subtitulo">Los clientes que compraron este artículo también compraron</h4>
              <div class="productos" id="relacionados"></div>
            </div>
          </div>
        </div>          
      </script>
      
      <script id="producto_single_galeria_template" type="text/template">
        <div class="col-md-2 thum">
          {%for img in imagenes_producto%}
            <a class="interno" href="" data-bigimga="{{img.imagen}}">
              <img src="{{img.imagen_thum}}" alt="">
            </a>
          {%endfor%}
        </div>
        <div class="col-md-10 imagenes">
          {%for img in imagenes_producto%}
            {%if loop.first%}
              <img class="imagen_normal" src="{{img.imagen}}" alt="">
            {%endif%}
          {%endfor%}
        </div>
      </script>

      <script id="galeria_movil_template" type="text/template">
        {%for img in imagenes_producto%}
          <div class="item">
            <img class="imagen_normal" src="{{img.imagen}}" alt="{{full_name}}">          
          </div>
        {%endfor%}
      </script>

      <script id="favoritos_template" type="text/template">
        <span class="icono icon-heart3"></span>
        <div class="cartel_flotante cartelicono add_ok">
          <p><strong>Usted agrego a sus favoritos</strong></p>
          <a href="">Ver mis Favoritos</a>
        </div>
        <div class="cartel_flotante cartelicono seguro">
          <p>Usted agrego a sus favoritos</p>
          <a href="">Ver mis Favoritos</a>
        </div>
      </script>

      <script id="linea_addcart_template" type="text/template">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="container-fluid">
                <div class="row">
                  <h4 class="text-center text-uppercase">Agregado al carrito</h4>
                  <div class="col-md-4 col-xs-4 imagen">
                    <img src="{{thum}}" alt="{{full_name}}">
                  </div>
                  <div class="col-md-8 col-xs-8">
                      <h4>{{full_name}}</h4>
                      <div class="atributo atributo-color">
                        <label for="">Color:</label>
                        <span>{{color}}</span>
                      </div>
                      <div class="atributo atributo-talla">
                        <label for="">Talla:</label>
                        <span>{{talla}}</span>
                      </div>
                      <div class="atributo atributo-precio">
                        <label for="">Precio</label>
                        <span>{{precio}}</span>
                      </div>              
                  </div>
                  </div>
                  <div class="botones text-uppercase">
                    <div class="col-md-6 col-xs-6">
                      <a class="btn btn-default contraste1 link" href="/carro/" role="button">Ir al Carro</a>
                    </div>
                    <div class="col-md-6 col-xs-6">
                      <a class="btn btn-default blanco-btn link" href="/catalogo/" role="button">Comprar mas</a>
                    </div>
                  </div>
                  <div class="col-md-12 otros">
                    <h4 class="text-uppercase text-center">
                      <span class="subtitulo">Otros Productos</span></br>
                      <span class="titulo">Que te Gustarian!</span>
                    </h4>
                  </div>          
                </div>
              </div>
            </div>
          </div>
      </script>

      <script id="comentarios_template" type="text/template">
        <div class="usuario_coment">
          <figure class="autor_foto">
            <img src="/media/tienda/avatar.jpg" alt="">
          </figure>
          <div class="autor_datos">
            <div class="estrellas_comentario"></div>
            <span class="nombre_coment">
              <span class="name">{{nombre}}</span>                          
              <em>{{creado}}</em>
            </span>
            <h3 class="titulo_coment">{{titulo_comentario}}</h3>
          </div>
        </div>
        <div class="cuerpo_coment">
          <p>{{comentario}}</p>
          <dl class="recomendado">
            <dt>
              <span class="icono icon-checkmark"></span>
              <strong>Si,</strong>
            </dt>
            <dd>Yo recomiendo este producto</dd>
          </dl>
        </div>                    
      </script>
{% endverbatim %}