{% verbatim %}	
	<script id="slider_home_template" type="text/template">
		<a href="{{link}}">
			<img src="{{imagen}}" alt="{{titulo}}">
		</a>
	</script>

	<script id="breadcrumb_link_template" type="text/template">
		<li><a href="{{link}}">{{nombre}}</a></li>
	</script>
	<script id="breadcrumb_link_active_template" type="text/template">
		<li class="active">{{nombre}}</li>
	</script>

	<script id="home_template" type="text/template">
		<div id="sliders_home">
		</div>
		<div id="novedades_home" class="contenedor">
			<div class="titulo_slider">
				<h3>Novedades Loviz DelCarpio</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et nisi eget nunc laoreet posuere. Suspendisse adipiscing placerat augue, dictum blandit justo laoreet a. Pellentesque quam vitae urna fermentum elementum</p>
			</div>
			<div class="cuerpo_slider">
				
			</div>
		</div>
		<div id="ofertas_home"></div>
	</script>
{% endverbatim %}