{% verbatim %}	
	<script id="slider_home_template" type="text/template">
		<a href="{{link}}">
			<img src="{{imagen}}" alt="{{titulo}}">
		</a>
	</script>

	<script id="breadcrumb_link_template" type="text/template">
		<li><a href="{{link}}">{{nombre}}</a></li>
	</script>
	<script id="breadcrumb_link_active_template" type="text/template">
		<li class="active">{{nombre}}</li>
	</script>

	<script id="home_template" type="text/template">
		<div id="sliders_home">
		</div>
		<div class="container-fluid">
			<div id="novedades_home" class="row carrusel">
				<h3 class="titulo_slider"><span class="reglon"></span>Novedades en Loviz DelCarpio<span class="reglon"></span></h3>
				<div class="cuerpo_slider productos"></div>				
			</div>
			<div id="ofertas_home" class="row carrusel">
				<h3 class="titulo_slider"><span class="reglon"></span>Ofertas en Loviz DelCarpio<span class="reglon"></span></h3>
				<div class="cuerpo_slider productos"></div>
			</div>
		</div>
	</script>
	<script id="caja_ajax_template" type="text/template">
		<div class="text-center">
			<figure>
				<img src="/media/tienda/ajax-loader_p.gif" alt="">
			</figure>
			<span>Cargando...</span>
		</div>
	</script>
{% endverbatim %}