{% verbatim %}	
	<script id="usuario_mini_loguin_template" type="text/template">
		<li><a class="link login" href="/">Ingresar</a></li>
		<div class="caja_login">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<h4>Ingresar a Loviz DelCarpio</h4>
						<form>
								<div class="form-group">
										<label for="emailuser">Correo Electronico</label>
										<input type="email" class="form-control" id="emailuser" placeholder="Ingresar correo electronico">
								</div>
								<div class="form-group">
										<label for="passwordusuario">Contraseña</label>
										<input type="password" class="form-control" id="passwordusuario" placeholder="Contraseña">
								</div>
								<div class="checkbox">
										<label>
											 <input type="checkbox"> <strong>Recordarme</strong>
										</label>
										<p><a href="/">¿Olvide mi contraseña?</a></p>
								</div>
								<button type="submit" class="btn btn-default contraste1">Ingresar</button>
						</form>
					</div>
					<div class="col-md-6">
						<h4>Ingresar con Facebook</h4>
						<a class="btn btn-primary btn_facebook" href="#" role="button">
							Ingresar con Facebook
						</a>										
					</div>
					<div class="col-md-12">
						<div class="caja borde_top">
							<h4>¿No tienes una cuenta?</h4>
							<a class="btn btn-default contraste1" href="#" role="button">
								Unetenos a Nosotros
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script id="usuario_mini_template" type="text/template">
		<li><a class="link login" href="/">Bienvenido {{username}}!</a></li>
		<div class="caja_login miniuser">
			<ul class="menu">
				<li><a href="/">Mi Cuenta</a></li>
				<li><a href="/">Mis Ordenes</a></li>
				<li><a href="/">Mis Deseos</a></li>
				<li><a href="/">Salir</a></li>
			</ul>
		</div>
	</script>

	<script id="form_login_template" type="text/template">
		<div class="form-group form_login">
			<label for="form_email">*Correo Electronico:</label>
			<input type="email" class="form-control" id="form_email" placeholder="Ingresar correo electronico">
			<p class="text-danger">Porfavor ingrese su correo electronico</p>
		</div>
		<div class="form-group form_pass">
			<label for="form_pass">*Contraseña:</label>
			<input type="password" class="form-control" id="form_pass" placeholder="Contraseña">
			<p class="text-danger">Porfavor ingrese su contraseña</p>
		</div>						
		<div class="checkbox">
			<label>
				<input type="checkbox"> Recordarme
			</label>
			<a href="#" class="link">¿Olvide mi Contraseña?</a>
		</div>
		<button type="submit" class="btn btn-default justi">Ingresar</button>
	</script>

	<script id="form_nuevo_user_template" type="text/template">
		<div class="form-group">
			<label for="nuevo_user_email">*Correo Electronico</label>
			<input type="email" class="form-control" id="nuevo_user_email" placeholder="Enter email">
			<p class="text-danger">Este campo es obligatorio</p>
			<p class="text-warning">El Correo electronico no coincide</p>
		</div>
		<div class="form-group">
			<label for="nuevo_user_email2">*Repite Correo Electronico</label>
			<input type="email" class="form-control" id="nuevo_user_email2" placeholder="Enter email">
			<p class="text-danger">Este campo es obligatorio</p>
			<p class="text-warning">El Correo electronico no coincide</p>			
		</div>
		<div class="form-group">
			<label for="pass_nuevo">*Contraseña</label>
			<input type="password" class="form-control" id="pass_nuevo" placeholder="Password">
			<p class="text-danger">Este campo es obligatorio</p>
			<p class="text-warning">La contraseña no coincide</p>			

		</div>
		<div class="form-group">
			<label for="pass_nuevo2">*Repetir Contraseña</label>
			<input type="password" class="form-control" id="pass_nuevo2" placeholder="Password">
			<p class="text-danger">Este campo es obligatorio</p>
			<p class="text-warning">La contraseña no coincide</p>			

		</div>
		<button type="submit" class="btn btn-default crear contraste1">Crear Cuenta</button>
	</script>

	<script id="usuario_nologin_template" type="text/template">
		<div id="usuario_nologin" class="contenedor">
			<div class="container-fluid">
				<div class="row">
					<h2 class="titulo">Bienvenido {{email}}</h2>
					<div class="no-login">
						<div class="col-md-6 user_existente">
							<div class="login-box login-cuenta">
								<h3 class="subtitulo">Clientes Registrados</h3>
								<div class="login-content">
									<p>Si usted tiene una cuenta con nosotros, por favor acceda.</p>
									<div class="formulario_login"></div>
								</div>									
							</div>
						</div>
						<div class="col-md-6 user_crear">
							<div class="login-box login-nueva-cuenta">
								<h3 class="subtitulo">Nuevo Cliente</h3>
								<div class="login-content">
									<p>Al crear una cuenta en <a href="/" class="link">LovizDelCarpio.com</a> tu proceso de compra es más rápido porque tus datos ya están registrados en nuestra tienda, además podrás hacer un seguimiento de tus pedidos y estar informado de las últimas novedades.</p>
									<button class="btn btn-default justi mostrar_registro">Crear Cuenta</button>
									<div class="formulario_nuevo_user">
									</div>
								</div>
							</div>	
						</div>	
					</div>					
				</div>
			</div>
		</div>
	</script>

	<script id="usuario_login_template" type="text/template">
		<div id="usuario_login" class="contenedor">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8">
						<h2 class="titulo-login">
							<span class="sub-titulo">Bienvenido</span>
							<span class="email_login">{{email}}</span>
							<span class="cuenta_salir">
								(<a href="/cliente/salir/">Salir</a>)
							</span>
						</h2>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>
	</script>

	<script id="mini_usuario_movil_template" type="text/template">
		<a href="/cliente/cuenta/" class="mini_user link">
			<span class="foto_user">
				<img src="/media/tienda/avatar.jpg" alt="">
			</span>
			<span class="">Ingresar</span>
		</a>
	</script>
{% endverbatim %}